<div *ngIf="isAuthenticated();" class="p-fluid u-ml-5pt">
  <div class="p-grid items-form-center-text u-ml-5pt u-mt-10pt">
    <H2 class="items-form-center-text">{{'invoice.item.create.title' | transloco}}</H2>
  </div>
  <p-toast></p-toast>
  <form #itemCatalogForm="ngForm" (submit)="saveItem($event)">
    <div class="p-grid">
      <div class="p-col-4 u-mt-10pt">
        <app-validatable-input-text (componentHasErrorEvent)="setHasNameError($event)"
                                    [(ngModel)]="model.description"
                                    [idComponent]="'id_ItemDesc'"
                                    [labelText]="'invoice.item.table.item_name' | transloco"
                                    [txtMinLength]="2"
                                    name="description">
        </app-validatable-input-text>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-4 u-mt-10pt">
       <p-floatlabel class="w-100">
       <input [(ngModel)]="model.shortDescription" id="id-shortDescription" name="shortDescription" pInputText
              class="u-w-100"
              type="text"/>
       <label for="id-shortDescription">{{'invoice.item.table.short_description' | transloco}}</label>
       </p-floatlabel>
      </div>

    </div>
    <div class="p-grid u-mt-10pt">
      <div class="p-col-2">
        <app-validatable-input-number (componentHasErrorEvent)="setHasPriceError($event)"
                                      [(ngModel)]="model.itemPrice"
                                      [idComponent]="'id_ItemPrice'"
                                      [labelText]="'invoice.item.table.price' | transloco"
                                      name="itemPrice">
        </app-validatable-input-number>
      </div>
    </div>
    <div class="p-grid u-mt-10pt">
      <div class="p-col-2">
        <app-validatable-input-number (componentHasErrorEvent)="setHasVatError($event)"
                                      [(ngModel)]="model.vat"
                                      [idComponent]="'id_ItemVat'"
                                      [labelText]="'invoice.item.table.vat' | transloco"
                                      name="vat">
        </app-validatable-input-number>
      </div>

    </div>
    <div class="p-grid">
      <div class="p-col-1">
        <p-button [disabled]="haveErrors()" label="Save" styleClass="submit-button" type="submit"></p-button>
      </div>
      <div class="p-col-9"></div>
    </div>
  </form>
</div>
