
.align-right {
  display: flex;
  justify-content: right;
}

.saveButton-align {
  margin: 5px 5px 5px 5px;
}

align-right-button {
  margin-left: auto; /* Push the button to the right */
  padding-right: 5pt;
  display: block;   /* Make the button a block-level element */
}
