@if (isAuthenticated()) {
  <div class="p-fluid p-flex-row management-page-style">
    <p-toast></p-toast>
    <div class="p-grid base-top-grid-area">
      <div class="p-col-12">
        <H2 class="u-ml-10pt">{{ 'person.management.title' | transloco }}</H2>
      </div>
      <div class="p-col-12" *ngIf="environment.debugMode">
        <p>
           Error Message: {{eventBusVal}}
        </p>
      </div>
      <div class="p-col-12">
        <app-dateperiod-finder #dataFinder (responseOutput)="modelList = $event" [url]="'person/personsListPeriod'"/>
      </div>
      <div class="p-col-12 p-shadow-4 top-container-table-area">
        <div class="table-area" id="Id_Management_Table">
          <p-table [(selection)]="selectedPerson" [autoLayout]="true" [metaKeySelection]=keySelection
                   [resizableColumns]="true"
                   [rows]="10"
                   [value]="modelList"
                   class="person-data-table"
                   editMode="row"
                   paginator="true" selectionMode="multiple" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="personLastName" class="person-col-20">{{ 'person.management.table.last_name' | transloco }}
                  <p-sortIcon field="personLastName"></p-sortIcon>
                </th>
                <th pSortableColumn="personFirstName" class="person-col-20">{{ 'person.management.table.first_name' | transloco }}
                  <p-sortIcon field="personLastName"></p-sortIcon>
                </th>
                <th pSortableColumn="companyName" class="u-w-25">{{ 'person.management.table.company_name' | transloco }}
                  <p-sortIcon field="companyName"></p-sortIcon>
                </th>
                <th pSortableColumn="personType" class="u-w-10">{{ 'person.management.table.person_type' | transloco }}
                  <p-sortIcon field="personType"></p-sortIcon>
                </th>
                <th pSortableColumn="taxNumber" class="u-w-10">{{ 'person.management.table.tax_number' | transloco }}
                  <p-sortIcon field="taxNumber"></p-sortIcon>
                </th>
                <th pSortableColumn="email" class="u-w-15">{{ 'person.management.table.email' | transloco }}
                  <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th class="u-w-5">{{ 'common.table.manage' | transloco }}</th>
              </tr>
            </ng-template>

            <ng-template let-person let-rowIndex="rowIndex" pTemplate="body">
              <tr (dblclick)="rowDoubleClick($event, person)" [ngStyle]="{'color':isPersonChanged(person)}"
                  [pSelectableRowIndex]="rowIndex"
                  [pSelectableRow]="person"
                  title="{{ 'person.management.tooltips.edit_person' | transloco }}">
                <td class="person-cell-padding">
                  <div>{{person.personLastName}}</div>
                </td>
                <td class="person-cell-padding">
                  <div>{{person.personFirstName}}</div>
                </td>
                <td class="person-cell-padding">
                  <div>{{person.companyName}}</div>
                </td>
                <td class="person-cell-padding">
                  <div>{{person.personType}}</div>
                </td>
                <td class="person-cell-padding">
                  <div>{{person.taxNumber}}</div>
                </td>
                <td class="person-cell-padding">
                  <div>{{person.email}}</div>
                </td>
                <td class="person-cell-padding">
                  <button (click)="deletePerson(person.id)" class="p-button-rounded p-button-warning"
                          pButton pRipple
                          title="{{ 'common.tooltips.delete_item' | transloco }}">
                    <i class="pi pi-trash"></i>
                  </button>
                  <button (click)="rowDoubleClick($event, person)" class="p-button-rounded p-button-warning undo-button"
                          pButton pRipple
                          title="{{ 'common.tooltips.edit_item' | transloco }}">
                    <i class="pi pi-pencil"></i>
                  </button>
                  <button (click)="rollbackChanges(person.id)" class="p-button-rounded p-button-warning undo-button"
                          pButton
                          pRipple
                          title="{{ 'common.tooltips.rollback_item' | transloco }}">
                    <i class="pi pi-undo"></i>
                  </button>
                </td>
              </tr>

            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="p-col-12 save-button-col-size">
        <div class="save-button-container-size">
          <p-button (onClick)="saveChangedPersons($event)" [disabled]="haveNoChanges()" [label]="'common.actions.save' | transloco"/>
        </div>
      </div>
    </div>

    <app-edit-person-dialog #personDialog
                            (personModelChanges)="putPersonChanges($event)"
                            (visibilityChanged)="isPersonEditDialogVisible($event)"
                            [visible]="showPersonDialog()">
    </app-edit-person-dialog>

    <app-confirmation-dialog #confirmDialog
                             (canceled)="handleCancel($event)"
                             [confirmMessage]="'person.management.confirm.delete' | transloco"
                             (confirmed)="handleConfirmation(confirmDialog.transferObject)"
                             [display]="showConfirmDialog"
                             [message]="confirmDialogMessage"></app-confirmation-dialog>

  </div>
}
