PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=ordermanager
DB_PASSWORD=ordermanager
DB_NAME=ordermanager
DB_SCHEMA=public
JWT_SECRET=auth-key
JWT_EXPIRES_IN=1800s
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=*
