@if (isAuthenticated()) {
<div class="p-fluid">
  <p-toast></p-toast>
  <div class="p-grid p-col-6">
    <H2>{{'person.form.create_person' | transloco}}</H2>
  </div>
  <form #personForm="ngForm">
    <div class=" p-shadow-4">
      <div class="p-grid item-left">
        <div class="p-col-6 ">
          <!--
          "field": {
          "first_name": "First name",
          "last_name": "Las name",
          "email": "Email",
          "company_name": "Company name",
          "tax_number": "Tax number",
          "zip": "Zip",
          "city": "City",
          "postbox": "Post box",
          "street": "Street",
          "bank": "Bank name",
          "account": "Account number",
          "iban": "IBAN",
          "bic_swift": "BIC/SWIFT"
          -->

            <app-validatable-dropdownlist (componentHasError)="setHasPersonTypeError($event)"
                                          (valueChanged)="peronTypeChanged($event)"
                                          [(ngModel)]="personFormModel.personType"
                                          [idComponent]="'id-personType'"
                                          [labelText]="'person.management.table.person_type' | transloco"
                                          [optionList]="personType"
                                          [txtMinLength]="1"
                                          inputName="personType"
                                          name="personType">
            </app-validatable-dropdownlist>
          </div>
        </div>
        @if (personFormModel.personType==='PRIVATE') {
        <div class="p-grid item-left">
        <div class="p-col-3">
          <app-validatable-input-text (componentHasErrorEvent)="setHasFirstNameError($event)"
                                      [(ngModel)]="personFormModel.personFirstName"
                                      [idComponent]="'id_firstName'"
                                      [labelText]="'person.form.field.first_name' | transloco"
                                      [txtMinLength]="2"
                                      inputName="personFirstName"
                                      name="personFirstName">
          </app-validatable-input-text>
        </div>
        <div class="p-col-3">
          <app-validatable-input-text (componentHasErrorEvent)="setHasLastNameError($event)"
                                      [(ngModel)]="personFormModel.personLastName"
                                      [idComponent]="'id_lastName'"
                                      [labelText]="'person.form.field.last_name' | transloco"
                                      [txtMinLength]="2"
                                      inputName="personLastName"
                                      name="personLastName">
          </app-validatable-input-text>
        </div>
      </div>
      } @else if (personFormModel.personType==='ORGANISATION') {
        <div class="p-grid item-left">
          <div class="p-col-3">
            <app-validatable-input-text (componentHasErrorEvent)="setHasCompanyNameError($event)"
                                        [(ngModel)]="personFormModel.companyName"
                                        [idComponent]="'id_company_Name'"
                                        [labelText]="'person.form.field.company_name' | transloco"
                                        [txtMinLength]="2"
                                        inputName="companyName"
                                        name="companyName">
            </app-validatable-input-text>
          </div>
        </div>
      }
      <div class="p-grid item-left">
        <div class="p-col-3">
          <app-validatable-input-text (componentHasErrorEvent)="setHasEmailError($event)"
                                      [(ngModel)]="personFormModel.email"
                                      [idComponent]="'id_email'"
                                      [inputPattern]="emailPattern"
                                      [inputType]="'text'"
                                      [labelText]="'person.form.field.email' | transloco"
                                      [txtMinLength]="5"
                                      name="email"
                                      patternErrorText="Wrong email">
          </app-validatable-input-text>
        </div>
      </div>
@if(personFormModel.personType==='PRIVATE'){
        <div class = "p-col-2  item-left">
          <app-validatable-input-text (componentHasErrorEvent)="setHasTaxNumberError($event)"
                                      [(ngModel)]="personFormModel.taxNumber"
                                      [idComponent]="'id_tax_Number'"
                                      [labelText]="'person.form.field.tax_number' | transloco"
                                      [txtMinLength]="5"
                                      inputName="taxNumber"
                                      name="taxNumber">
          </app-validatable-input-text>
        </div>
}
    </div>
    <div class="p-grid p-col-6">
      <H2>{{'person.form.person_address' | transloco}}</H2>
    </div>
    <div class=" p-shadow-4">

      <div class="p-grid item-left">
        <div class="p-col-2 zip-container">
          <app-validatable-input-text (componentHasErrorEvent)="setHasZipCodeError($event)"
                                      [(ngModel)]="personFormModel.personAddressFormModel.zipCode"
                                      [idComponent]="'id_Zip'"
                                      [labelText]="'person.form.field.zip' | transloco"
                                      [txtMinLength]="4"
                                      inputName="zipCode"
                                      name="zipCode">
          </app-validatable-input-text>
        </div>
        <div class="p-col-3 city-container">
          <app-validatable-input-text (componentHasErrorEvent)="setHasCityError($event)"
                                      [(ngModel)]="personFormModel.personAddressFormModel.city"
                                      [idComponent]="'id_City'"
                                      [labelText]="'person.form.field.city' | transloco"
                                      [txtMinLength]="2"
                                      inputName="city"
                                      name="city">
          </app-validatable-input-text>
        </div>
      </div>
      <div class="p-grid item-left">
        <div class="p-col-2">
          <p-floatlabel class="w-100">
            <input [(ngModel)]="personFormModel.personAddressFormModel.postBoxCode" id="id-add-postBoxCode"
                   name="postBoxCode" pInputText
                   class="personform-no-left-margin"
                   type="text"/>
            <label for="id-add-postBoxCode">{{'person.form.field.postbox' | transloco}}</label>
          </p-floatlabel>
        </div>
        <div class="p-col-3 street-container">

            <app-validatable-input-text (componentHasErrorEvent)="setHasStreetError($event)"
                                        [(ngModel)]="personFormModel.personAddressFormModel.street"
                                        [idComponent]="'id_Street'"
                                        [labelText]="'person.form.field.street' | transloco"
                                        [txtMinLength]="2"
                                        inputName="street"
                                        name="street">
            </app-validatable-input-text>
        </div>

      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-6">
        <H2>Person bank account</H2>
      </div>
    </div>
    <div class=" p-shadow-4">
      <div class="p-grid item-left">
        <div class="p-col-4 bank-name-container">
          <app-validatable-input-text (componentHasErrorEvent)="setHasBankNameError($event)"
                                      [(ngModel)]="personFormModel.bankAccountFormModel.bankName"
                                      [idComponent]="'id_BankName'"
                                      [labelText]="'person.form.field.bank' | transloco"
                                      [txtMinLength]="2"
                                      inputName="bankName"
                                      name="bankName">
          </app-validatable-input-text>
        </div>

        <div class="p-col-2">
          <p-floatlabel>
            <input [(ngModel)]="personFormModel.bankAccountFormModel.accountNumber" id="id_AccountNumber"
                   name="accountNumber"
                   pInputText
                   type="text"/>
            <label for="id_AccountNumber">{{'person.form.field.account' | transloco}}</label>
          </p-floatlabel>
        </div>
      </div>

      <div class="p-grid item-left">
        <div class="p-col-4 iban-container">
          <div class = "full-width-display-table">
            <div class = "full-width-display-row">
              <div class = "full-width-display-cell">
               <p-floatlabel class="w-100">
                    <input #modelRef="ngModel"
                           (ngModelChange)="personFormModel.bankAccountFormModel.iban = $event"
                           [ngModel]="personFormModel.bankAccountFormModel.iban | ibanFormatter"
                           class="ng-dirty p-mr-2"
                           ibanValidator
                           id="id_IBAN"
                           name="iban"
                           pInputText
                           required
                           type="text"/>
                  <label for="id_IBAN">{{'person.form.field.iban' | transloco}}</label>
               </p-floatlabel>
              </div>
              @if (modelRef.errors?.['required']) {
                <div class = "error-message-cmp" id="id_Iban_Required_err">
                  <p-message severity="error" icon="pi pi-times-circle"></p-message>
                </div>
              }
              @if (checkOrSetIbahNoError(modelRef)) {
                <div class = "error-message-cmp" id="id_Iban_Iban_err">
                  <p-message severity="error" icon="pi pi-times-circle"></p-message>
                </div>
              }
            </div>
            @if(modelRef.errors?.['iban']) {
              <p-message severity="error" text="{{'person.form.field.wrong_iban_format' | transloco}}"></p-message>
            }
          </div>
        </div>

        <div class="p-col-2 swift-style">
          <app-validatable-input-text (componentHasErrorEvent)="setHasBicError($event)"
                                      [(ngModel)]="personFormModel.bankAccountFormModel.bicSwift"
                                      [idComponent]="'id-acc-bicSwift'"
                                      [labelText]="'person.form.field.bic_swift' | transloco"
                                      [txtMinLength]="5"
                                      inputName="bicSwift"
                                      name="bicSwift">
          </app-validatable-input-text>
        </div>
      </div>
    </div>
    <div class="p-grid buttons-container">
      <div class="p-col-12 save-button-col-size">
        <div *ngIf=" createPersonType === undefined; else elseBlock">
          <p-button (onClick)="savePerson(false)" [disabled]="this.personForm?.invalid"
                    class="save-button-col-size save-button-container-size"
                    label="{{'common.actions.save' | transloco}}"></p-button>
        </div>
        <ng-template #elseBlock>
          <p-button (onClick)="savePerson(true)" [disabled]="this.personForm?.invalid"
                    class="save-button-col-size save-button-container-size" label="{{'person.save_and_return' | transloco}}Save and return"></p-button>
        </ng-template>
      </div>
    </div>
  </form>
</div>
}

