<div *ngIf="isAuthenticated();" class="p-fluid">
  <p-toast></p-toast>
  <div class="p-grid p-col-6">
    <H2>Create Person</H2>
  </div>
  <form #personForm = "ngForm">
  <div class=" p-shadow-4">
    <div style="margin-left: 2px;" class="p-grid">
      <div class="p-col-6">
        <app-validatable-dropdownlist [optionList]="personType"
                                      [labelText]="'Person Type'"
                                      name="personType"
                                      inputName="personType"
                                      [idComponent]="'id-personType'"
                                      [txtMinLength]="1"
                                      (componentHasError)="setHasPersonTypeError($event)"
                                      (valueChanged)="peronTypeChanged($event)"
                                      [(ngModel)]="personFormModel.personType">
        </app-validatable-dropdownlist>
      </div>
    </div>

    <div style="margin-bottom: 10pt;" *ngIf="personFormModel.personType==='PRIVATE'" class="p-grid">
      <div style="margin-left: 6px" class="p-col-3">
        <app-validatable-input-text [labelText]="'First name'"
                                    name = "personFirstName"
                                    inputName="personFirstName"
                                    [idComponent]="'id_firstName'"
                                    [txtMinLength]="2"
                                    (componentHasErrorEvent)="setHasFirstNameError($event)"
                                    [(ngModel)]="personFormModel.personFirstName">
        </app-validatable-input-text>
      </div>
      <div class="p-col-3">
        <app-validatable-input-text [labelText]="'Last name'"
                                    name="personLastName"
                                    inputName="personLastName"
                                    [idComponent]="'id_lastName'"
                                    [txtMinLength]="2"
                                    (componentHasErrorEvent)="setHasLastNameError($event)"
                                    [(ngModel)]="personFormModel.personLastName">
        </app-validatable-input-text>
      </div>
    </div>

    <div style="margin-bottom: 10pt" *ngIf="personFormModel.personType==='ORGANISATION'" class="p-grid">
      <div class="p-col-3">
        <app-validatable-input-text [labelText]="'Company name'"
                                    name = "companyName"
                                    inputName="companyName"
                                    [idComponent]="'id_company_Name'"
                                    [txtMinLength]="2"
                                    (componentHasErrorEvent)="setHasCompanyNameError($event)"
                                    [(ngModel)]="personFormModel.companyName">
        </app-validatable-input-text>
      </div>
    </div>
    <div style="margin-bottom: 10pt;  margin-left: 2px" class="p-grid">
      <div style="padding-left: 5px" class="p-col-3">
        <app-validatable-input-text [labelText]="'E-mail'"
                                    name = "email"
                                    [inputPattern]="emailPattern"
                                    patternErrorText="Wrong email"
                                    [idComponent]="'id_email'"
                                    [inputType]="'text'"
                                    [txtMinLength]="5"
                                    (componentHasErrorEvent)="setHasEmailError($event)"
                                    [(ngModel)]="personFormModel.email">
        </app-validatable-input-text>
      </div>
    </div>
    <div  style="margin-left: 0px !important; padding-left: 0px !important;" *ngIf="personFormModel.personType==='PRIVATE'" class="p-grid">
      <div style="padding-left: 0px" class="p-col-2">
        <app-validatable-input-text [labelText]="'Tax number'"
                                    name = "taxNumber"
                                    inputName="taxNumber"
                                    [idComponent]="'id_tax_Number'"
                                    [txtMinLength]="5"
                                    (componentHasErrorEvent)="setHasTaxNumberError($event)"
                                    [(ngModel)]="personFormModel.taxNumber">
        </app-validatable-input-text>
      </div>
    </div>
  </div>
  <div class="p-grid p-col-6">
    <H2>Person address</H2>
  </div>
  <div class=" p-shadow-4">

    <div class="p-grid">
      <div style="margin-left: 5pt" class="p-col-2">
        <app-validatable-input-text [labelText]="'Zip'"
                                    name="zipCode"
                                    inputName="zipCode"
                                    [idComponent]="'id_Zip'"
                                    [txtMinLength]="4"
                                    (componentHasErrorEvent)="setHasZipCodeError($event)"
                                    [(ngModel)]="personFormModel.personAddressFormModel.zipCode">
        </app-validatable-input-text>
      </div>
      <div style="margin-left: 5pt" class="p-col-3">
        <app-validatable-input-text [labelText]="'City'"
                                    name = "city"
                                    inputName="city"
                                    [idComponent]="'id_City'"
                                    [txtMinLength]="2"
                                    (componentHasErrorEvent)="setHasCityError($event)"
                                    [(ngModel)]="personFormModel.personAddressFormModel.city">
        </app-validatable-input-text>
      </div>
    </div>
    <div style="margin-left: 0px" class="p-grid">
      <div style="padding-left: 6px !important;" class="p-col-2">
      <span style="margin-top: 10pt" class="p-float-label">
        <input style="margin-left: 0px !Important" pInputText id="id-add-postBoxCode" type="text"
               name="postBoxCode"
               [(ngModel)]="personFormModel.personAddressFormModel.postBoxCode"/>
        <label for="id-add-postBoxCode">Post Box</label>
      </span>
      </div>
      <div style="margin-left: 5pt" class="p-col-3">
        <div style="margin-top: 15pt">
          <app-validatable-input-text [labelText]="'Street'"
                                      name = "street"
                                      inputName="street"
                                      [idComponent]="'id_Street'"
                                      [txtMinLength]="2"
                                      (componentHasErrorEvent)="setHasStreetError($event)"
                                      [(ngModel)]="personFormModel.personAddressFormModel.street">
          </app-validatable-input-text>
        </div>
      </div>

    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <H2>Person bank account</H2>
    </div>
  </div>
  <div class=" p-shadow-4">
    <div class="p-grid">
      <div style="margin-top: 5pt; margin-left: 5pt" class="p-col-4">
        <app-validatable-input-text [labelText]="'Bank name'"
                                    name = "bankName"
                                    inputName="bankName"
                                    [idComponent]="'id_BankName'"
                                    [txtMinLength]="2"
                                    (componentHasErrorEvent)="setHasBankNameError($event)"
                                    [(ngModel)]="personFormModel.bankAccountFormModel.bankName">
        </app-validatable-input-text>
      </div>

      <div class="p-col-2">
      <span class="p-float-label">
        <input pInputText id="id_AccountNumber" type="text"
               name="accountNumber"
               [(ngModel)]="personFormModel.bankAccountFormModel.accountNumber"/>
        <label for="id_AccountNumber">Account number</label>
      </span>
      </div>
    </div>

    <div class="p-grid">
      <div style="margin-left: 4pt; margin-top: 8pt" class="p-col-4">
        <div style="display: table; width: 100%;">
          <div style="display: table-row; width: 100%;">
            <div style="display: table-cell; width: 100%;">
               <span class="p-float-label">
                    <input class="ng-dirty p-mr-2"
                           pInputText
                           required
                           name ="iban"
                           id="id_IBAN"
                           type="text"
                           [ngModel]="personFormModel.bankAccountFormModel.iban | ibanFormatter"
                           (ngModelChange)="personFormModel.bankAccountFormModel.iban = $event"
                           ibanValidator
                           #modelRef="ngModel"/>
                  <label for="id_IBAN">IBAN</label>
               </span>
            </div>
            <div id="id_Iban_Required_err" *ngIf="modelRef.errors?.required" style="display: table-cell; width: 10%; margin-left: 2px;">
              <p-message severity="error"></p-message>
            </div>
            <div id="id_Iban_Iban_err"  *ngIf="setHasIbahError(modelRef.errors?.iban!==null, modelRef.errors?.iban)"
                 style="display: table-cell; width: 10%; margin-left: 2px">
              <p-message severity="error"></p-message>
            </div>
            <ng-template *ngIf="modelRef?.valid">
              <ng-template *ngIf="setHasIbahError(false, modelRef.errors?.iban)"/>
            </ng-template>
          </div>
          <div *ngIf="modelRef.errors?.iban" class="alert alert-danger">
            Wrong IBAN
          </div>
        </div>
      </div>

      <div style="margin-left: 5pt; margin-top: 12pt" class="p-col-2">
        <app-validatable-input-text [labelText]="'BIC/SWIFT'"
                                    name = "bicSwift"
                                    inputName="bicSwift"
                                    [idComponent]="'id-acc-bicSwift'"
                                    [txtMinLength]="5"
                                    (componentHasErrorEvent)="setHasBicError($event)"
                                    [(ngModel)]="personFormModel.bankAccountFormModel.bicSwift">
        </app-validatable-input-text>
      </div>
    </div>
  </div>
  <div style="margin-top:5px;" class="p-grid">
    <div class="p-col-12 save-button-col-size">
      <div>
        <p-button class="save-button-col-size save-button-container-size" [disabled]="haveErrors()" label="Save" (onClick)="savePerson($event)"></p-button>
      </div>
<!--      <p-button [disabled]="personForm.invalid" label="Save" (onClick)="savePerson($event)"></p-button>-->
    </div>
  </div>
  </form>
</div>


