input[type="text"] {
  margin: 5px 5px 5px 2px !important;
  width: 100% !important;
}

:host::ng-deep div#id_Iban_Iban_err > p-message > .p-inline-message.p-component.p-inline-message-error.p-inline-message-icon-only {
  margin-left: 2px !important;
}

:host::ng-deep div#id_Iban_Required_err > p-message > .p-inline-message.p-component.p-inline-message-error.p-inline-message-icon-only {
  margin-left: 2px !important;
}

.p-menubar .p-menubar-root-list {
  width: 300pt !important;
}

* {
  box-sizing: border-box !important;
}

.responsibleButton {
  font-size: 5vw;
}

.item-left {
  margin-bottom: 10px;
  margin-left: 2px;
}

.city-container {
  margin-top: 8px;
  margin-left: 5px;
}

.zip-container {
  margin-top: 8px;
}


.swift-style {
  margin-left: 5pt;
  margin-top: 12pt;
}

.iban-container {
  margin-top: 8pt;
}

.bank-name-container {
  margin-top: 5px;
}

.buttons-container {
  margin-top:5px;
}

.street-container {
  margin-top: 8px;
  margin-left: 5px;
}
