<div class="w-100">
  <div class="field-row">
    <p-floatlabel class="w-100">
      <p-select #modelRef="ngModel"
                  (ngModelChange)="setValueChanged($event)"
                  [(ngModel)]="value"
                  class="w-100"
                  [name]="inputName() || name() || idComponent()"
                  [options]="optionList()"
                  optionLabel="label"
                  optionValue="value"
                  [inputId]="idComponent()"
                  minlength="{{txtMinLength()}}"
                  (onBlur)="onTouched()"

                  [ngClass]="{
                                'ng-invalid ng-dirty': modelRef.invalid && (modelRef.dirty || modelRef.touched),
                                'p-inputwrapper-filled': value !== null && value !== undefined && value !== ''
                              }"
                  required>
      </p-select>
      <label [for]="idComponent()">{{ labelText() }}</label>
    </p-floatlabel>
    @if (modelRef.invalid && (modelRef.dirty || modelRef.touched)) {
      <div class="error-icon-box">
        <p-message severity="error" icon="pi pi-times-circle"></p-message>
      </div>
    }
  </div>
  @if (setHasMinLengthError(modelRef.errors?.['minlength'] !== undefined &&
    modelRef.errors?.['minlength'] !== null,
    modelRef.errors?.['minlength']) && (modelRef.dirty || modelRef.touched)) {
    <div class="error-icon-box">
      <small class="validation-text">{{ 'common.validation.required' | transloco }}</small>
    </div>

  }
  @if (setHasRequiredError(modelRef.errors?.['required'] !== undefined &&
    modelRef.errors?.['required'] !== null,
    modelRef.errors?.['required']) && (modelRef.dirty || modelRef.touched)) {
    <div class="error-icon-box">
      <small class="validation-text">{{ 'common.validation.required' | transloco }}</small>
    </div>
  }

</div>
