<div  class="p-grid  app_title p-shadow-4" *ngIf="!this.appSecurityService.isAuthenticated();">
<!--  <p-button  label="Home" (click)="router.navigateByUrl('/')"></p-button>-->
  <a  [pTooltip]="'Navigate to home page'" [tooltipPosition]="'right'" (click)="router.navigateByUrl('/')"><img src="assets/home-small.png"></a>
  <h3 style="margin-left: 5pt;">Order manager</h3>

</div>

<div class="nav_app_cls p-grid p-shadow-4" *ngIf="this.appSecurityService.isAuthenticated(); else elseBlock">

  <nav style="margin-bottom: 10pt;">
    <div class="p-grid" >
    <a style="margin-right: 10pt; margin-top: 8pt;margin-left: 10pt;" [pTooltip]="'Navigate to home page'" [tooltipPosition]="'right'" (click)="router.navigateByUrl('/')"><img src="assets/home-small.png"></a>
    <p-menubar [model]="menuItems"></p-menubar>
    <a style="margin-left: 10pt;margin-top: 8pt;" (click)="appSecurityService.logout()">Logout</a>
    </div>

  </nav>

</div>

<br/>
<ng-template #elseBlock>
  <app-user-login></app-user-login>
</ng-template>

<router-outlet></router-outlet>
