
<div class="p-fluid">

  <p-messages></p-messages>
  <div class="p-grid p-col-6">
    <H2>Create Person</H2>
  </div>
  <div class=" p-shadow-4">
    <div class="p-grid">
      <div class="p-col-6">
        <div style="margin-bottom: 5pt">
          <label  for="personType">Person Type</label>
        </div>
        <div style="margin-bottom: 15pt">
         <p-dropdown required minlength="4" id="personType" [options]="personType"
                     [(ngModel)]="personFormModel.personType">
         </p-dropdown>
        </div>
        </div>
    </div>

    <div style = "margin-bottom: 10pt;" *ngIf="personFormModel.personType==='PRIVATE'" class="p-grid">
      <div class="p-col-3">
        <app-validable-input-text [labelText]="'First name'"
                                  [idComponent]="'id_firstName'"
                                  [txtMinLength]="2"
                                  [ngModel]="personFormModel.personFirstName"
                                  (ngModelChange) = "onChangeFirstName($event)">
        </app-validable-input-text>
      </div>
      <div class="p-col-3">
          <app-validable-input-text [labelText]="'Last name'"
                                    [idComponent]="'id_lastName'"
                                    [txtMinLength]="2"
                                    [ngModel]="personFormModel.personLastName"
                                    (ngModelChange) = "onChangeLastName($event)">
          </app-validable-input-text>
      </div>
     </div>

    <div *ngIf="personFormModel.personType==='ORGANISATION'" class="p-grid">
      <div class="p-col-3">
         <app-validable-input-text [labelText]="'Company name'"
                                  [idComponent]="'id_company_Name'"
                                  [txtMinLength]="2"
                                  [ngModel]="personFormModel.companyName"
                                  (ngModelChange) = "onChangeCompanyName($event)">
        </app-validable-input-text>
      </div>
    </div>

    <div *ngIf="personFormModel.personType==='PRIVATE'" class="p-grid">
      <div class="p-col-2">
        <app-validable-input-text [labelText]="'Tax number'"
                                  [idComponent]="'id_tax_Number'"
                                  [txtMinLength]="5"
                                  [ngModel]="personFormModel.taxNumber"
                                  (ngModelChange) = "onChangeTaxNumber($event)">
        </app-validable-input-text>
      </div>
    </div>
  </div>
  <div class="p-grid p-col-6">
      <H2>Person address</H2>
  </div>
  <div class=" p-shadow-4">

  <div class="p-grid">
    <div class="p-col-2">
      <app-validable-input-text [labelText]="'Zip'"
                                [idComponent]="'id_Zip'"
                                [txtMinLength]="4"
                                [ngModel]="personFormModel.personAddressFormModel.zipCode"
                                (ngModelChange) = "onChangeZipCode($event)">
      </app-validable-input-text>
    </div>
    <div class="p-col-2">
      <app-validable-input-text [labelText]="'City'"
                                [idComponent]="'id_City'"
                                [txtMinLength]="2"
                                [ngModel]="personFormModel.personAddressFormModel.city"
                                (ngModelChange) = "onChangeCity($event)">
      </app-validable-input-text>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-2">
      <div style="margin-top: 15pt">
      <app-validable-input-text [labelText]="'Street'"
                                [idComponent]="'id_Street'"
                                [txtMinLength]="2"
                                [ngModel]="personFormModel.personAddressFormModel.street"
                                (ngModelChange) = "onChangeStreet($event)">
      </app-validable-input-text>
      </div>
    </div>
    <div class="p-col-2">

      <span style="margin-top: 12pt" class="p-float-label">
        <input pInputText id="id-add-postBoxCode" type="text"
               [(ngModel)]="personFormModel.personAddressFormModel.postBoxCode"/>
        <label for="id-add-postBoxCode">Post Box</label>
      </span>
    </div>
  </div>
  </div>
  <div class="p-grid">
    <div class="p-col-6">
      <H2>Person bank account</H2>
    </div>
  </div>
  <div class=" p-shadow-4">
  <div class="p-grid">
    <div class="p-col-2">
      <label style="margin: 5px" for="id-acc-bankName">Bank name</label>
      <input pInputText id="id-acc-bankName" type="text" [(ngModel)]="personFormModel.bankAccountFormModel.bankName"/>
    </div>

    <div class="p-col-2">
      <label style="margin: 5px" for="id-acc-accountNumber">Account number</label>
      <input pInputText id="id-acc-accountNumber"  type="text" [(ngModel)]="personFormModel.bankAccountFormModel.accountNumber"/>
    </div>
  </div>

    <div class="p-grid">
      <div class="p-col-2">
        <label style="margin: 5px" for="id-acc-iban">IBAN</label>
        <input pInputText id="id-acc-iban" type="text" [(ngModel)]="personFormModel.bankAccountFormModel.iban"/>
      </div>


      <div class="p-col-2">
        <label style="margin: 5px" for="id-acc-bicSwift">BIC/Swift</label>
        <input pInputText id="id-acc-bicSwift" type="text" [(ngModel)]="personFormModel.bankAccountFormModel.bicSwift"/>
      </div>
    </div>
  </div>
  <div style="margin-top:5px;" class="p-grid">
    <div class="p-col-1">
      <p-button label="Submit" (onClick)="savePerson($event)"></p-button>
    </div>
  </div>
  <div style="margin-top:5px;" class="p-grid">
    <div class="p-col-1">
      <p-button label="JSON" (onClick)="showJson($event)"></p-button>
    </div>
  </div>
</div>


