<div *ngIf="appSecurityService.isAuthenticated" class="p-fluid">
  <div style="text-align: center" class="p-grid">
     <H2 style="text-align: center">Create invoice item</H2>
  </div>
  <p-toast></p-toast>


  <div class="p-grid">
    <div style="margin-top: 10pt" class="p-col-4">
      <app-validatable-input-text [name] = "'description'"
                                  [labelText]="'Item  description'"
                                  [idComponent]="'id_ItemDesc'"
                                  [txtMinLength]="2"
                                  [(ngModel)] = "model.description">
      </app-validatable-input-text>
    </div>
  </div>
  <div class="p-grid">
    <div style="margin-top: 10pt" class="p-col-4">
       <span class="p-float-label">
       <input style="width:100%;" id="id-shortDescription" type="text" [(ngModel)]="model.shortDescription" pInputText/>
       <label  for="id-shortDescription">Item short description</label>
       </span>
    </div>

  </div>

  <div style="margin-top: 10pt" class="p-grid">
    <div class="p-col-2">
      <app-validatable-input-text [name] = "'itemPrice'"
                                  [labelText]="'Item  price'"
                                  [idComponent]="'id_ItemPrice'"
                                  [txtMinLength]="1"
                                  [(ngModel)] = "model.itemPrice">
      </app-validatable-input-text>
    </div>
  </div>
  <div style="margin-top: 10pt" class="p-grid">
      <div class="p-col-2">
        <app-validatable-input-text [name]="'vat'"
                                    [labelText]="'Vat%'"
                                    [idComponent]="'id_ItemVat'"
                                    [txtMinLength]="1"
                                    [(ngModel)] = "model.vat">
        </app-validatable-input-text>
      </div>

  </div>

  <div class="p-grid">
    <div class="p-col-1">
      <p-button label="Save" (onClick)="saveItem($event)"></p-button>
    </div>
  </div>
</div>

