<!--
*This component is required and require one the next parameters
*@param the text of the label
*@param txtMinLength the minimal length of text in the input html control
*@param idComponent the id of component
*@param onChange($event) callback method on the parent component which sends changed value in child (this) component
-->
<div class = "full-width-display-table">
  <div class = "full-width-display-row">
    <div class = "full-width-display-cell">
               <span class="p-float-label">
                    <input #modelRef="ngModel"
                           [(ngModel)]="value"
                           [pattern]="inputPattern"
                           class="ng-dirty p-mr-2"
                           id="{{idComponent}}"
                           minlength="{{txtMinLength}}"
                           name="{{inputName}}"
                           pInputText
                           required

                           type="{{inputType}}"/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </span>
    </div>
    <div class = "error-message-cmp" *ngIf=
           "setHasMinLengthError(modelRef.errors?.minlength !== null, modelRef.errors?.minlength)">
      <p-message severity="error"></p-message>
    </div>
    <div class = "error-message-cmp"
      *ngIf="setHasRequiredError(modelRef.errors?.required !== undefined && modelRef.errors?.required !== null, modelRef.errors?.required)">
      <p-message severity="error"></p-message>
    </div>
    <div  class = "error-message-cmp" *ngIf="setHasPatternError(modelRef.errors?.pattern!=null, modelRef.errors?.pattern)">
      <div *ngIf="modelRef.errors?.minlength===undefined">
        <p-message severity="error"></p-message>
      </div>
    </div>
  </div>
  <div *ngIf="modelRef.errors?.pattern" class="alert alert-danger">
    {{patternErrorText}}
  </div>
</div>
