<!--
*This component is required and require one the next parameters
*@param the text of the label
*@param txtMinLength the minimal length of text in the input html control
*@param idComponent the id of component
*@param onChange($event) callback method on the parent component which sends changed value in child (this) component
-->
<div class="input-wrapper">
  <div class="field-row">
    <p-floatlabel class="w-100">
      <input
        #modelRef="ngModel"
        pInputText
        class="w-100"
        [(ngModel)]="value"
        [id]="idComponent"
        [name]="inputName"
        [type]="inputType || 'text'"
        [pattern]="inputPattern"
        [minlength]="txtMinLength"
        [required]="true"
        [ngClass]="{
          'ng-invalid ng-dirty': modelRef.invalid && (modelRef.dirty || modelRef.touched)
        }"
        autocomplete="off"
      />
      <label [for]="idComponent">{{ labelText }}</label>
    </p-floatlabel>

    @if (modelRef.invalid && (modelRef.dirty || modelRef.touched)) {
      <div class="error-icon-box">
        <p-message severity="error" icon="pi pi-times-circle"></p-message>
      </div>
    }
  </div>
  @if (setHasRequiredError(modelRef.errors?.['required'] !== undefined &&
    modelRef.errors?.['required'] !== null, modelRef.errors?.['required']) && (modelRef.dirty || modelRef.touched)) {
    <small class="validation-text">{{ 'common.validation.required' | transloco }}</small>
  }

  @if (setHasMinLengthError(modelRef.errors?.['minlength'] !== null, modelRef.errors?.['minlength'])) {
    <div class = "error-message-cmp">
          <small class="validation-text">
            {{ 'common.validation.min_length' | transloco: { min: txtMinLength } }}
          </small>
    </div>
  }

  @if (modelRef.errors?.['pattern'] && !modelRef.errors?.['minlength'] && (modelRef.dirty || modelRef.touched)) {
    <small class="validation-text">{{ patternErrorText }}</small>
  }
</div>
