<p-toast></p-toast>
<div class="p-fluid p-grid">
  <div class="p-col-12">
    <p-table [autoLayout]="true" [resizableColumns]="true" [rows]="40" [value]="invoiceReactiveItems"
             editMode="row" sortMode="multiple" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 40%">Item description</th>
          <th style="width: 10%">Amount</th>
          <th style="width: 10%">Price</th>
          <th style="width: 10%">Vat%</th>
          <th style="width: 10%">Sum netto</th>
          <th style="width: 10%">Sum brutto</th>
          <th style="width: 10%">Delete</th>
        </tr>
      </ng-template>
      <ng-template let-invoiceitem pTemplate="body">
        <tr>
          <td pEditableColumn style="width: 40%">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown #itemsRef (ngModelChange)="catalogItemSlected(invoiceitem, $event)"
                            [ngModel]="invoiceitem?.catalogItemId"
                            [options]="catalogItems"
                            [placeholder]="invoiceitem.catalogItemId===undefined?defaultItemMsg: getCatalogDescription(invoiceitem?.catalogItemId)"
                            appendTo="body"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{getCatalogDescription(invoiceitem?.catalogItemId) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn style="width: 10%">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.amountItems"
                               [disabled]="invoiceitem?.catalogItemId===undefined"
                               [maxFractionDigits]="2"
                               [minFractionDigits]="2"
                               class="p-cell-editing ng-dirty"
                               mode="decimal"
                               name="amountItems"
                               placeholder='0.00'
                               required/>
              </ng-template>
              <ng-template pTemplate="output">
                {{invoiceitem.amountItems | standardFloat}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn style="width: 10%">
            <!--            <app-editable-input-cell-->
            <!--              [rowModel]="invoiceitem"-->
            <!--              (changeItemEvent)="inputBoxChanged(invoiceitem, $event)"-->
            <!--              [(ngModel)]="invoiceitem.itemPrice">-->
            <!--            </app-editable-input-cell>-->
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.itemPrice"
                               [disabled]="invoiceitem?.catalogItemId===undefined"
                               [maxFractionDigits]="2"
                               [minFractionDigits]="2"
                               class="p-cell-editing ng-dirty"
                               mode="decimal"
                               name="price"
                               placeholder='0.00'
                               required/>
              </ng-template>
              <ng-template pTemplate="output">
                {{invoiceitem.itemPrice | standardFloat}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td pEditableColumn style="width: 10%">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <!--
                <input class="p-cell-editing" type="text" (change)="inputBoxChanged(invoiceitem, $event)" ) [(ngModel)]="invoiceitem.vat"
                       (ngModelChange)="invoiceitem.vat=$event" required/>
                -->
                <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.vat"
                               [disabled]="invoiceitem?.catalogItemId===undefined"
                               [maxFractionDigits]="2"
                               [minFractionDigits]="2"
                               class="p-cell-editing ng-dirty"
                               mode="decimal"
                               name="vat"
                               placeholder='0.00'
                               required/>
              </ng-template>
              <ng-template pTemplate="output">
                {{invoiceitem.vat | standardFloat}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td class="right-aligned-input" style="width: 10%">
            {{invoiceitem.sumNetto | standardFloat}}
          </td>
          <td class="right-aligned-input" style="width: 10%">
            {{invoiceitem.sumBrutto | standardFloat}}
          </td>
          <td style="width: 10%">
            <button (click)="showDeleteItemDialog(invoiceitem.id, invoiceitem.idxItem)"
                    class="p-button-rounded p-button-warning" icon="pi pi-trash" pButton
                    pRipple></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="p-col-12" style="display: block">
    <p-button (onClick)="addNewItem()" [pTooltip]="'Add new empty item'" class="p-button-secondary save-button-style"
              label="Add item"></p-button>
  </div>

</div>

<div class="p-shadow-4 shadow-panel-color" style="margin-top: 10pt">
  <div class="p-grid">
    <div class="p-col-9"></div>
    <div class="p-col-3">
      <div style="display: block; padding-left: 10%">
        <label style="max-width: 50%; text-align: right">Total netto (Euro): </label>
        <input (ngModelChange)="setTotalNettoSum($event)" [ngModel]="getTotalNettoSum()  | standardFloat"
               class="right-aligned-totals input-label-like p-field" id="id-tottalNettoSun"
               name="tottalNettoSum" placeholder="0.00"
               readonly
               required type="text"/>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-9"></div>
    <div class="p-col-3">
      <div style="display: block">
        <label style="max-width: 50%; padding-left: 10%">Total brutto (Euro): </label>
        <input (ngModelChange)="setTottalBruttoSum($event)" [ngModel]="getToltalBruttoSum() | standardFloat"
               class="right-aligned-totals input-label-like p-field" id="id-tottalBruttoSun"
               name="tottalBruttoSum" placeholder="0.00"
               readonly
               required type="text"/>
      </div>
    </div>
  </div>
</div>
<app-confirmation-dialog #confirmDeleteItemDialog
                         (canceled)="showDeleteConfirmDialog=false"
                         (confirmed)="handleDeleteConfirmation(confirmDeleteItemDialog.transferObject)"
                         [display]="showDeleteConfirmDialog"
                         [message]="saveDeeleteDialogMessage"></app-confirmation-dialog>


