:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  /*height: 50pt !important;*/
  height: 25pt !important;
  width: auto !important;
  /*width: 100% !important;*/
}

input[type="text"]  {
  margin: 5px 5px 5px 5px;

  width: 100% !important;
  height: 21pt;
}
.sizes .p-inputtext {
  display: block;
  margin-bottom: 0.5rem;
}
.sizes .p-inputtext:last-child {
  margin-bottom: 0;
}
.p-field * {
  display: block;
}

.right-aligned-input {
  text-align: right;
}

.right-aligned-totals {
  text-align: right;
  max-width: 40%;
  float: right;
  margin-top: 0px !important;
}

.input-label-like {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
}
