<p-dialog header="Edit person" [(visible)]="visible" [style]="{ width: '80vw', height: '80%' }" (onHide)="setVisible(false)">
<div *ngIf="isAuthenticated();" class="p-fluid">
  <form [formGroup]="editPersonFG">
    <div class=" p-shadow-4">
      <div style="margin-left: 2px;" class="p-grid">
        <div class="p-col-6">
          <ng-container *ngTemplateOutlet="comboboxTemplate;
          context:{controlPath: 'personType',
                   placeholderPar: 'Select person type',
                   idComponent: 'id-personType',
                   labelText: 'Person Type',
                   optionList: personType
                  }">
          </ng-container>
        </div>
      </div>
      <div style="margin-bottom: 10pt;" *ngIf="editPersonFG.get('personType')?.value==='PRIVATE'" class="p-grid">
        <div style="margin-left: 6px" class="p-col-3">
          <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'personFirstName',
                   idComponent: 'id_firstName',
                   labelText: 'First name'
                  }">
          </ng-container>
        </div>
        <div class="p-col-3">
          <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'personLastName',
                   idComponent: 'id_lastName',
                   labelText: 'Last name'
                  }">
          </ng-container>
        </div>
      </div>

      <div style="margin-bottom: 10pt" *ngIf="editPersonFG.get('personType')?.value==='ORGANISATION'" class="p-grid">
        <div class="p-col-3">
          <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'companyName',
                   idComponent: 'id_companyNme',
                   labelText: 'Company name'
                  }">
          </ng-container>
        </div>
      </div>
      <div style="margin-bottom: 10pt;  margin-left: 2px" class="p-grid">
        <div style="padding-left: 5px" class="p-col-3">
          <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'email',
                   idComponent: 'id_email',
                   labelText: 'E-mail'
                  }">
          </ng-container>
        </div>
      </div>
      <div style="margin-left: 0px !important; padding-left: 0px !important;"
           *ngIf="editPersonFG.get('personType')?.value==='PRIVATE'" class="p-grid">
        <div style="padding-left: 5px" class="p-col-2">
          <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'taxNumber',
                   idComponent: 'id_taxNumber',
                   labelText: 'Tax number'
                  }">
          </ng-container>
        </div>
      </div>
    </div>


    <!--  ADDRESS FORM  -->
    <div formGroupName="personAddressFormModel">
      <div class="p-grid p-col-6">
        <H2>Person address</H2>
      </div>
      <div class=" p-shadow-4">

        <div class="p-grid">
          <div style="margin-left: 5pt" class="p-col-2">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'personAddressFormModel.zipCode',
                   idComponent: 'id_zipCode',
                   labelText: 'Zip code'
                  }">
            </ng-container>
          </div>
          <div style="margin-left: 5pt" class="p-col-3">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'personAddressFormModel.city',
                   idComponent: 'id_city',
                   labelText: 'City'
                  }">
            </ng-container>
          </div>
        </div>
        <div style="margin-left: 0px" class="p-grid">
          <div style="padding-left: 6px !important;" class="p-col-2">
            <div style="margin-top: 15pt">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'personAddressFormModel.postBoxCode',
                   idComponent: 'id_postBoxCode',
                   labelText: 'Post Box'
                  }">
            </ng-container>
            </div>
          </div>
          <div style="margin-left: 5pt" class="p-col-3">
            <div style="margin-top: 15pt">
              <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'personAddressFormModel.street',
                   idComponent: 'id_street',
                   labelText: 'Street'
                  }">
              </ng-container>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- END ADDRESS FORM -->

    <!--  BANK FORM  -->
    <div formGroupName="bankAccountFormModel">
      <div class="p-grid">
        <div class="p-col-6">
          <H2>Person bank account</H2>
        </div>
      </div>
      <div class=" p-shadow-4">
        <div class="p-grid">
          <div style="margin-top: 5pt; margin-left: 5pt" class="p-col-4">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
          context:{controlPath: 'bankAccountFormModel.bankName',
                   idComponent: 'id_BankName',
                   labelText: 'Bank name'
                  }">
            </ng-container>
          </div>

          <div style="margin-top: 5pt;" class="p-col-2">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
            context:{controlPath: 'bankAccountFormModel.accountNumber',
                     idComponent: 'id_AccountNumber',
                     labelText: 'Account number'
                  }">
            </ng-container>
          </div>
        </div>

        <div class="p-grid">
          <div style="margin-left: 4pt; margin-top: 12pt" class="p-col-4">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
            context:{controlPath: 'bankAccountFormModel.iban',
                     idComponent: 'id_iban',
                     labelText: 'IBAN'
                  }">
            </ng-container>
          </div>
          <div style="margin-left: 5pt; margin-top: 12pt" class="p-col-2">
            <ng-container *ngTemplateOutlet="inputTextTemplate;
            context:{controlPath: 'bankAccountFormModel.bicSwift',
                     idComponent: 'id-acc-bicSwift',
                     labelText: 'BIC/SWIFT'
                  }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!-- END BANK FORM -->
  </form>

</div>
  <ng-template pTemplate="footer">
    <p-button [disabled] = "haveErrors()" icon="pi pi-check" (click)="sendChanges()" label="Save" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check pink-300"  (click)="setVisible(false)" label="Cancel" styleClass="p-button-text p-button-secondary"></p-button>
  </ng-template>
</p-dialog>


<!-- the input template for input texts-->
<ng-template #inputTextTemplate let-controlPath="controlPath" let-idComponent="idComponent" let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <span class="p-float-label">
                    <input [formControl]="getControl(controlPath)" class="ng-dirty p-mr-2"
                           pInputText
                           minlength="0"
                           id="{{idComponent}}"
                           type="text" />
                  <label for="{{idComponent}}">{{labelText}}</label>
               </span>
      </div>
      <div *ngIf= "getControl(controlPath).invalid" style ="display: table-cell; width: 10%;">
        <p-message severity="error"></p-message>
      </div>
    </div>
  </div>
</ng-template>


<!-- The combobox template for selecting person type. -->
<ng-template #comboboxTemplate let-controlPath="controlPath"
             let-idComponent="idComponent"
             let-labelText="labelText"
             let-placeholderPar="placeholderPar"
             let-optionList="optionList">

  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
        <div style="margin-bottom: 15pt">
                <span class="p-float-label">
                <p-dropdown [formControl]="getControl(controlPath)"
                            (onChange)="personTypeChanged($event)"
                            placeholder="{{placeholderPar}}"
                            required
                            minlength="1"
                            id="{{idComponent}}"
                            [options]="optionList">
                </p-dropdown>
                <label for="{{idComponent}}">{{labelText}}</label>
                </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

