input[type="text"] {
  margin: 5px 5px 5px 2px !important;
  width: 100% !important;
}

:host::ng-deep div#id_Iban_Iban_err > p-message > .p-inline-message.p-component.p-inline-message-error.p-inline-message-icon-only{
  margin-left: 2px !important;
}

:host::ng-deep div#id_Iban_Required_err > p-message > .p-inline-message.p-component.p-inline-message-error.p-inline-message-icon-only{
  margin-left: 2px !important;
}

.p-menubar .p-menubar-root-list{
  width: 300pt !important;
}

* {
  box-sizing: border-box !important;
}

:host::ng-deep #id-personType > div {
  margin-top: 30pt;
}
:host::ng-deep form > div:nth-child(2) > div.shadow-panel-color.p-shadow-4 > div:nth-child(1) > div.p-col-2 > div {
  margin-top: 20pt;
}

:host::ng-deep form > div:nth-child(2) > div.shadow-panel-color.p-shadow-4 > div:nth-child(1) > div.p-col-3 > div {
  margin-top: 20pt;
}

:host::ng-deep form > div:nth-child(3) > div.shadow-panel-color.p-shadow-4 > div:nth-child(1) > div.p-col-4 > div{
  margin-top: 20pt;
}

form > div:nth-child(3) > div.shadow-panel-color.p-shadow-4 > div:nth-child(1) > div.p-col-2 > div {
  margin-top: 20pt;
}
