<div style="margin-top: 20pt; width: 100%; height: 100%" *ngIf="securityService.isAuthenticated()">
<ag-grid-angular
  #agGrid
  style="height: 70%;"
  class="ag-theme-balham"
  pagination="true"
  [animateRows] = "true"
  [frameworkComponents] = "frameworkComponents"
  (rowValueChanged)="onRowValueChanged($event)"
  (cellValueChanged)="cellChanged($event)"
  [rowData] = "invoicesFormModel"
  [columnDefs]="columnDefs"
  (gridReady) = "onGridReady($event)"
  rowSelection="multiple"></ag-grid-angular>
</div>
