<!--
*This component is required and require one the next parameters
*@param the text of the label
*@param txtMinLength the minimal length of text in the input html control
*@param idComponent the id of component
*@param onChange($event) callback method on the parent component which sends changed value in child (this) component
-->
<div style ="display: table; width: 100%;">
  <div style ="display: table-row; width: 100%;">
    <div style ="display: table-cell; width: 100%;">
               <span class="p-float-label">
                  <input class="ng-dirty p-mr-2"
                         pInputText
                         required
                         minlength="{{txtMinLength}}"
                         id="{{idComponent}}"
                         type="text"
                         [(ngModel)]="value"
                         (ngModelChange)="onChange($event)"
                         #personFirstName="ngModel"/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </span>
    </div>
    <div *ngIf="personFirstName.errors?.minlength" style ="display: table-cell; width: 10%;">
      <div style="margin-top: 15pt !important;">
        <p-message severity="error"></p-message>
      </div>
    </div>
    <div *ngIf="personFirstName.errors?.required" style ="display: table-cell; width: 10%;">
      <p-message severity="error"></p-message>
    </div>
  </div>
</div>
