<div style ="display: table; width: 100%;">
  <div style ="display: table-row; width: 100%;">
    <div style ="display: table-cell; width: 100%;">
               <span class="p-float-label">
                  <input class="ng-dirty p-mr-2"
                         pInputText
                         required
                         minlength="{{txtMinLength}}"
                         id="{{idComponent}}"
                         type="text"
                         [(ngModel)]="value"
                         (ngModelChange)="onChange($event)"
                         #personFirstName="ngModel"/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </span>
    </div>
    <div *ngIf="personFirstName.errors?.minlength" style ="display: table-cell; width: 10%;">
      <p-message severity="error"></p-message>
    </div>
    <div *ngIf="personFirstName.errors?.required" style ="display: table-cell; width: 10%;">
      <p-message severity="error"></p-message>
    </div>
  </div>
</div>
