<p-toast></p-toast>
<div class="p-fluid p-grid">
  <div class="p-col-12">
    <div style="background-color: white" class ="p-grid">
      <div class="p-col-12">
        <p-table class="p-global-table" [value]="invoiceItems"
             [rows]="20"

              [paginator] = "true"
              [autoLayout]="true"
              [resizableColumns]="true"
              sortMode="multiple"
              styleClass="p-datatable-gridlines" editMode="row">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 40%">Item description</th>
          <th style="width: 10%">Amount</th>
          <th style="width: 10%">Price</th>
          <th style="width: 10%">Vat%</th>
          <th style="width: 10%">Sum netto</th>
          <th style="width: 10%">Sum brutto</th>
          <th style="width: 10%">Manage</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoiceitem>
        <tr>
          <td style="width: 40%" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown #itemsRef appendTo = "body" [options]="catalogItems"
                            [placeholder]="invoiceitem.catalogItemId===undefined?defaultItemMsg: getCatalogDescription(invoiceitem?.catalogItemId)"
                            [ngModel]="invoiceitem?.catalogItemId"
                            (ngModelChange)="catalogItemSlected(invoiceitem, $event)"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{getCatalogDescription(invoiceitem?.catalogItemId) }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="width: 10%" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber [disabled] ="invoiceitem?.catalogItemId===undefined" name ="amountItems" (onInput)="inputBoxChanged(invoiceitem, $event)"
                               placeholder = '0.00'
                               class="p-cell-editing ng-dirty"
                               mode="decimal"
                               [minFractionDigits]="2"
                               [maxFractionDigits]="2"
                       [(ngModel)]="invoiceitem.amountItems"
                       required />
              </ng-template>
              <ng-template pTemplate="output">
                {{invoiceitem.amountItems | standardFloat}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="width: 10%" pEditableColumn>
<!--            <app-editable-input-cell-->
<!--              [rowModel]="invoiceitem"-->
<!--              (changeItemEvent)="inputBoxChanged(invoiceitem, $event)"-->
<!--              [(ngModel)]="invoiceitem.itemPrice">-->
<!--            </app-editable-input-cell>-->
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-inputNumber [disabled] ="invoiceitem?.catalogItemId===undefined" name = "price" (onInput)="inputBoxChanged(invoiceitem, $event)"
                               placeholder = '0.00'
                               class="p-cell-editing ng-dirty"
                               mode="decimal"
                               [minFractionDigits]="2"
                               [maxFractionDigits]="2"
                       [(ngModel)]="invoiceitem.itemPrice"
                       required/>
              </ng-template>
              <ng-template pTemplate="output">
                {{invoiceitem.itemPrice | standardFloat}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="width: 10%" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <!--
                <input class="p-cell-editing" type="text" (change)="inputBoxChanged(invoiceitem, $event)" ) [(ngModel)]="invoiceitem.vat"
                       (ngModelChange)="invoiceitem.vat=$event" required/>
                -->
                <p-inputNumber [disabled] ="invoiceitem?.catalogItemId===undefined" name = "vat" (onInput)="inputBoxChanged(invoiceitem, $event)"
                       placeholder = '0.00'
                       class="p-cell-editing ng-dirty"
                       mode="decimal"
                       [(ngModel)]="invoiceitem.vat"
                       [minFractionDigits]="2"
                       [maxFractionDigits]="2"
                       required/>
              </ng-template>
              <ng-template pTemplate="output">
                {{invoiceitem.vat | standardFloat}}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="width: 10%">
            {{invoiceitem.sumNetto | standardFloat}}
          </td>
          <td style="width: 10%">
            {{invoiceitem.sumBrutto | standardFloat}}
          </td>
          <td style="width: 10%">
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                    (click)="deleteItem(invoiceitem.idxItem)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
      </div>
      <div style="background-color: white" class="p-col-12">
      <div style="display: block; background-color: white" class="add-button-container-size">
        <p-button [pTooltip]="'Add new empty item'"  styleClass="p-button-secondary" label="Add item" (onClick)="addNewItem()"></p-button>
      </div>
    </div>
    </div>
  </div>
  <div style="padding-top: 0pt !important; padding-bottom: 0pt !important;" class ="p-col-12">
     <div class="p-grid">
    <div class="p-col-10"></div>
    <div style="padding-top: 0pt !important; padding-bottom: 0pt !important;" class="p-col-2">

      <label style="margin: 5px" for="id-tottalNettoSun">Total netto</label>
      <input placeholder="0.00" readonly id="id-tottalNettoSun" name="tottalNettoSum" class="p-field" type="text"
             [ngModel]="getTotalNettoSum()  | standardFloat"
             (ngModelChange)="setTotalNettoSum($event)" required/>
    </div>
  </div>
  </div>
  <div style="padding-top: 0pt !important; padding-bottom: 0pt !important;" class ="p-col-12">
    <div class="p-grid">
    <div style="padding-top: 0pt !important; padding-bottom: 0pt !important;" class="p-col-10"></div>
    <div style="padding-top: 0pt !important; padding-bottom: 0pt !important;" class="p-col-2">
      <label style="margin: 5px" for="id-tottalBruttoSun">Total brutto</label>
      <input placeholder="0.00" readonly id="id-tottalBruttoSun" name="tottalBruttoSum" class="p-cell-editing" type="text"
             [ngModel]="getToltalBruttoSum() | standardFloat"
             (ngModelChange)="setTottalBruttoSum($event)" required/>
    </div>
  </div>
  </div>
</div>




