<p-toast></p-toast>
<form #itemsForm = "ngForm">
<div class="p-fluid p-grid">
  <div class="p-col-12">
    <div class="p-grid u-bg-white">
      <div class="p-col-12">
        <p-table [autoLayout]="true" [paginator]="true"
                 [resizableColumns]="true"

                 [rows]="20"
                 [value]="invoiceItems"
                 class="p-global-table"
                 editMode="row"
                 sortMode="multiple" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th class="u-w-40">{{'invoice.item.table.short_description' | transloco}}</th>
              <th class="u-w-10">{{'invoice.item.table.amount' | transloco}}</th>
              <th class="u-w-10">{{'invoice.item.table.price' | transloco}}</th>
              <th class="u-w-10">{{'invoice.item.table.vat' | transloco}}</th>
              <th class="u-w-10">{{'invoice.item.table.sum_netto' | transloco}}</th>
              <th class="u-w-10">{{'invoice.item.table.sum_brutto' | transloco}}</th>
              <th class="u-w-10">{{'common.table.manage' | transloco}}</th>
            </tr>
          </ng-template>
          <ng-template let-invoiceitem pTemplate="body">
            <tr>
              <td pEditableColumn class="u-w-40">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <div class = "full-width-display-table">
                      <div class = "full-width-display-row">
                        <div class = "full-width-display-cell">
                           <span class="p-float-label">
                              <p-dropdown #itemsRef
                                          #modelRef="ngModel"
                                          id="{{invoiceitem?.catalogItemId}}"
                                          (ngModelChange)="catalogItemSelected(invoiceitem, $event)"
                                          [ngModel]="invoiceitem?.catalogItemId"
                                          [options]="catalogItems"
                                          name="catalogItemId"
                                          [ngClass]="{
                                            'ng-invalid': modelRef?.invalid,
                                            'ng-dirty': modelRef?.dirty || modelRef?.touched
                                           }"
                                          appendTo="body">
                                  <label for="{{invoiceitem?.catalogItemId}}">Select Item</label>
                              </p-dropdown>
                           </span>
                        </div>
                        <div *ngIf="modelRef.value===undefined || modelRef.value=== null" class="u-table-cell-w-10">
                          <div class="items-error-icon-offset">
                            <p-message severity="error"></p-message>
                          </div>
                        </div>
                        <div *ngIf="modelRef?.errors?.['minlength']" class="u-table-cell-w-10">
                          <div class="items-error-icon-offset">
                            <p-message severity="error"></p-message>
                          </div>
                        </div>
                        <div *ngIf="modelRef?.errors?.['required']" class="u-table-cell-w-10">
                          <p-message severity="error"></p-message>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{getCatalogDescription(invoiceitem?.catalogItemId) }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="u-w-10">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)"
                                   [(ngModel)]="invoiceitem.amountItems"
                                   [disabled]="invoiceitem?.catalogItemId===undefined"
                                   [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty"
                                   mode="decimal"
                                   name="amountItems"
                                   placeholder='0.00'
                                   required/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{invoiceitem.amountItems | standardFloat}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="u-w-10">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.itemPrice"
                                   [disabled]="invoiceitem?.catalogItemId===undefined"
                                   [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty"
                                   mode="decimal"
                                   name="price"
                                   placeholder='0.00'
                                   required/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{invoiceitem.itemPrice | standardFloat}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn class="u-w-10">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.vat"
                                   [disabled]="invoiceitem?.catalogItemId===undefined"
                                   [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty"
                                   mode="decimal"
                                   name="vat"
                                   placeholder='0.00'
                                   required/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{invoiceitem.vat | standardFloat}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td class="u-w-10">
                {{invoiceitem.sumNetto | standardFloat}}
              </td>
              <td class="u-w-10">
                {{invoiceitem.sumBrutto | standardFloat}}
              </td>
              <td class="u-w-10">
                <button (click)="deleteItem(invoiceitem.idxItem)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash" pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="p-col-12 u-bg-white">
        <div class="add-button-container-size items-add-button-wrapper">
          <p-button (onClick)="addNewItem()" [pTooltip]="'Add new empty item'" label="{{'invoice.add_item' | transloco}}"
                    styleClass="p-button-secondary"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 items-zero-vertical-padding">
    <div class="p-grid">
      <div class="p-col-10"></div>
      <div class="p-col-2 items-zero-vertical-padding">

        <label for="id-tottalNettoSun" class="items-total-label-margin">{{'invoice.total_netto' | transloco}}</label>
        <input [ngModel]="calculatorService.totalNettoSum()  | standardFloat"
               class="p-field" id="id-tottalNettoSun" name="totalNettoSum" placeholder="0.00"
               readonly
               required type="text"/>
      </div>
    </div>
  </div>
  <div class="p-col-12 items-zero-vertical-padding">
    <div class="p-grid">
      <div class="p-col-10 items-zero-vertical-padding"></div>
      <div class="p-col-2 items-zero-vertical-padding">
        <label for="id-tottalBruttoSun" class="items-total-label-margin">{{'invoice.total_brutto' | transloco}}</label>
        <input [ngModel]="calculatorService.totalBruttoSum() | standardFloat"
               class="p-cell-editing" id="id-tottalBruttoSun" name="totalBruttoSum"
               placeholder="0.00"
               readonly
               required type="text"/>
      </div>
    </div>
  </div>
</div>
</form>



