<p-toast></p-toast>
<form #itemsForm = "ngForm">
<div class="p-fluid p-grid">
  <div class="p-col-12">
    <div class="p-grid" style="background-color: white">
      <div class="p-col-12">
        <p-table [autoLayout]="true" [paginator]="true"
                 [resizableColumns]="true"

                 [rows]="20"
                 [value]="invoiceItems"
                 class="p-global-table"
                 editMode="row"
                 sortMode="multiple" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 40%">{{'invoice.item.table.short_description' | transloco}}</th>
              <th style="width: 10%">{{'invoice.item.table.amount' | transloco}}</th>
              <th style="width: 10%">{{'invoice.item.table.price' | transloco}}</th>
              <th style="width: 10%">{{'invoice.item.table.vat' | transloco}}</th>
              <th style="width: 10%">{{'invoice.item.table.sum_netto' | transloco}}</th>
              <th style="width: 10%">{{'invoice.item.table.sum_brutto' | transloco}}</th>
              <th style="width: 10%">{{'common.table.manage' | transloco}}</th>
            </tr>
          </ng-template>
          <ng-template let-invoiceitem pTemplate="body">
            <tr>
              <td pEditableColumn style="width: 40%">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <div class = "full-width-display-table">
                      <div class = "full-width-display-row">
                        <div class = "full-width-display-cell">
                           <span class="p-float-label">
                              <p-dropdown #itemsRef
                                          #modelRef="ngModel"
                                          id="{{invoiceitem?.catalogItemId}}"
                                          (ngModelChange)="catalogItemSelected(invoiceitem, $event)"
                                          [ngModel]="invoiceitem?.catalogItemId"
                                          [options]="catalogItems"
                                          name="catalogItemId"
                                          [ngClass]="{
                                            'ng-invalid': modelRef?.invalid,
                                            'ng-dirty': modelRef?.dirty || modelRef?.touched
                                           }"
                                          appendTo="body">
                                  <label for="{{invoiceitem?.catalogItemId}}">Select Item</label>
                              </p-dropdown>
                           </span>
                        </div>
                        <div *ngIf="modelRef.value===undefined || modelRef.value=== null" style="display: table-cell; width: 10%;">
                          <div style="margin-top: 15pt !important;">
                            <p-message severity="error"></p-message>
                          </div>
                        </div>
                        <div *ngIf="modelRef?.errors?.['minlength']" style="display: table-cell; width: 10%;">
                          <div style="margin-top: 15pt !important;">
                            <p-message severity="error"></p-message>
                          </div>
                        </div>
                        <div *ngIf="modelRef?.errors?.['required']" style="display: table-cell; width: 10%;">
                          <p-message severity="error"></p-message>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{getCatalogDescription(invoiceitem?.catalogItemId) }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn style="width: 10%">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)"
                                   [(ngModel)]="invoiceitem.amountItems"
                                   [disabled]="invoiceitem?.catalogItemId===undefined"
                                   [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty"
                                   mode="decimal"
                                   name="amountItems"
                                   placeholder='0.00'
                                   required/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{invoiceitem.amountItems | standardFloat}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn style="width: 10%">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.itemPrice"
                                   [disabled]="invoiceitem?.catalogItemId===undefined"
                                   [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty"
                                   mode="decimal"
                                   name="price"
                                   placeholder='0.00'
                                   required/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{invoiceitem.itemPrice | standardFloat}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td pEditableColumn style="width: 10%">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber (onInput)="inputBoxChanged(invoiceitem, $event)" [(ngModel)]="invoiceitem.vat"
                                   [disabled]="invoiceitem?.catalogItemId===undefined"
                                   [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty"
                                   mode="decimal"
                                   name="vat"
                                   placeholder='0.00'
                                   required/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{invoiceitem.vat | standardFloat}}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td style="width: 10%">
                {{invoiceitem.sumNetto | standardFloat}}
              </td>
              <td style="width: 10%">
                {{invoiceitem.sumBrutto | standardFloat}}
              </td>
              <td style="width: 10%">
                <button (click)="deleteItem(invoiceitem.idxItem)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash" pButton
                        pRipple></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="p-col-12" style="background-color: white">
        <div class="add-button-container-size" style="display: block; background-color: white">
          <p-button (onClick)="addNewItem()" [pTooltip]="'Add new empty item'" label="{{'invoice.add_item' | transloco}}"
                    styleClass="p-button-secondary"></p-button>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12" style="padding-top: 0pt !important; padding-bottom: 0pt !important;">
    <div class="p-grid">
      <div class="p-col-10"></div>
      <div class="p-col-2" style="padding-top: 0pt !important; padding-bottom: 0pt !important;">

        <label for="id-tottalNettoSun" style="margin: 5px">{{'invoice.total_netto' | transloco}}</label>
        <input [ngModel]="calculatorService.totalNettoSum()  | standardFloat"
               class="p-field" id="id-tottalNettoSun" name="totalNettoSum" placeholder="0.00"
               readonly
               required type="text"/>
      </div>
    </div>
  </div>
  <div class="p-col-12" style="padding-top: 0 !important; padding-bottom: 0 !important;">
    <div class="p-grid">
      <div class="p-col-10" style="padding-top: 0 !important; padding-bottom: 0 !important;"></div>
      <div class="p-col-2" style="padding-top: 0 !important; padding-bottom: 0 !important;">
        <label for="id-tottalBruttoSun" style="margin: 5px">{{'invoice.total_brutto' | transloco}}</label>
        <input [ngModel]="calculatorService.totalBruttoSum() | standardFloat"
               class="p-cell-editing" id="id-tottalBruttoSun" name="totalBruttoSum"
               placeholder="0.00"
               readonly
               required type="text"/>
      </div>
    </div>
  </div>
</div>
</form>




