.align-right-button {
  margin-left: auto; /* Push the button to the right */
  padding-right: 5pt;
  display: block;   /* Make the button a block-level element */
}


.criteria-search-container {
  margin-top: 20pt;
  margin-left: 5pt;
  margin-right: 45pt;
}

.management-page-style {
  height: 100%
}

.top-container-table-area {
  height: 100%;
}

.table-area {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.base-top-grid-area {
  height: 83%
}
