@if (isAuthenticated()) {
  <main class="management-page">
    <p-toast></p-toast>

    @if (dataLoading) {
      <div class="management-loading">
        <mat-progress-spinner diameter="42" mode="indeterminate"></mat-progress-spinner>
      </div>
    }

    <header class="management-header">
      <div>
        <span class="management-eyebrow">{{ 'invoice.item.manage.eyebrow' | transloco }}</span>
        <h1>{{ 'invoice.item.manage.catalog_items' | transloco }}</h1>
        <p>{{ 'invoice.item.manage.subtitle' | transloco }}</p>
      </div>
      <div class="management-stat">
        <strong>{{ modelList.length }}</strong>
        <span>{{ 'invoice.item.manage.records' | transloco }}</span>
      </div>
    </header>

    <form class="management-toolbar" (ngSubmit)="getDataFromServer(criteria)">
      <div class="management-search">
        <i class="pi pi-search"></i>
        <input
          [(ngModel)]="criteria"
          [placeholder]="'invoice.item.manage.search_placeholder' | transloco"
          id="Id_Search_Item"
          name="criteria"
          pInputText
          type="search"/>
      </div>
      <p-button
        [label]="'common.actions.find' | transloco"
        icon="pi pi-search"
        type="submit">
      </p-button>
    </form>

    <section class="management-results">
      <div class="management-results-heading">
        <div>
          <h2>{{ 'invoice.item.manage.results_title' | transloco }}</h2>
          <span>{{ 'invoice.item.manage.results_hint' | transloco }}</span>
        </div>
        @if (!haveNoChanges()) {
          <span class="management-change-badge">
            {{ changesList.length }} {{ 'invoice.item.manage.changed' | transloco }}
          </span>
        }
      </div>

      <div class="management-table-scroll">
        <p-table
          [(selection)]="selectedItem"
          [metaKeySelection]="keySelection"
          [resizableColumns]="true"
          [rows]="15"
          [value]="modelList"
          paginator="true"
          selectionMode="multiple"
          sortMode="multiple"
          styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="description">{{ 'invoice.item.table.item_name' | transloco }}
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th pSortableColumn="shortDescription">{{ 'invoice.item.table.short_description' | transloco }}
                <p-sortIcon field="shortDescription"></p-sortIcon>
              </th>
              <th pSortableColumn="itemPrice">{{ 'invoice.item.table.price' | transloco }}
                <p-sortIcon field="itemPrice"></p-sortIcon>
              </th>
              <th pSortableColumn="vat">{{ 'invoice.item.table.vat' | transloco }}
                <p-sortIcon field="vat"></p-sortIcon>
              </th>
              <th class="management-actions-column">{{ 'common.table.manage' | transloco }}</th>
            </tr>
          </ng-template>

          <ng-template let-catalogitem let-rowIndex="rowIndex" pTemplate="body">
            <tr
              (dblclick)="rowDoubleClick($event, catalogitem)"
              [class.management-row-changed]="isItemChanged(catalogitem)"
              [pSelectableRowIndex]="rowIndex"
              [pSelectableRow]="catalogitem">
              <td><strong>{{ catalogitem.description }}</strong></td>
              <td>{{ catalogitem.shortDescription || '-' }}</td>
              <td class="management-money">{{ catalogitem.itemPrice | standardFloat }}</td>
              <td class="management-money">{{ catalogitem.vat | standardFloat }}%</td>
              <td>
                <div class="management-row-actions">
                  <button type="button" (click)="rowDoubleClick($event, catalogitem)"
                          class="p-button-rounded p-button-text" pButton pRipple
                          [title]="'common.tooltips.edit_item' | transloco">
                    <i class="pi pi-pencil"></i>
                  </button>
                  <button type="button" (click)="rollbackChanges(catalogitem.id)"
                          class="p-button-rounded p-button-text" pButton pRipple
                          [disabled]="!isItemChanged(catalogitem)"
                          [title]="'common.tooltips.rollback_item' | transloco">
                    <i class="pi pi-undo"></i>
                  </button>
                  <button type="button" (click)="showDeleteItemDialog(catalogitem.id)"
                          class="p-button-rounded p-button-text p-button-danger" pButton pRipple
                          [title]="'common.tooltips.delete_item' | transloco">
                    <i class="pi pi-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5" class="management-empty">{{ 'invoice.item.manage.no_results' | transloco }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>

    <footer class="management-save-bar">
      <div>
        <strong>{{ 'invoice.item.manage.pending_title' | transloco }}</strong>
        <span>{{ 'invoice.item.manage.pending_hint' | transloco }}</span>
      </div>
      <p-button
        (onClick)="saveChangesOnServer()"
        [disabled]="haveNoChanges()"
        [label]="'common.actions.save' | transloco"
        icon="pi pi-check">
      </p-button>
    </footer>
  </main>
}

<app-edit-item-dialog #itemEditCatalogDialog (editObjectChangedChanged)="putEditDialogChanges($event)"/>

<app-confirmation-dialog #confirmUpdateDialog
                         (canceled)="handleCancelUpdate()"
                         [confirmMessage]="'invoice.item.manage.confirm_update' | transloco"
                         (confirmed)="handleUpdateConfirmation(confirmUpdateDialog.transferObject)"
                         [display]="showConfirmUpdateDialog"
                         [message]="confirmUpdateDialogMessage"></app-confirmation-dialog>

<app-confirmation-dialog #confirmDeleteDialog
                         (canceled)="handleCancelDelete()"
                         [confirmMessage]="'invoice.item.manage.confirm_delete' | transloco"
                         (confirmed)="handleDeleteConfirmation(confirmDeleteDialog.transferObject)"
                         [display]="showConfirmDeleteDialog"
                         [message]="confirmDeleteDialogMessage"></app-confirmation-dialog>
