<div *ngIf="isAuthenticated()" class="p-fluid p-flex-row management-page-style">
  <p-toast></p-toast>
  <div *ngIf="dataLoading" class="overlayProcess childElementCenter">
    <mat-progress-spinner *ngIf="dataLoading" mode="indeterminate"></mat-progress-spinner>
  </div>


  <div class="p-grid base-top-grid-area">
    <h2 style="margin-left: 10pt">Manage with catalog items</h2>

    <div class="p-col-12 shadow-panel-color p-shadow-4">
      <div class="p-grid" style="margin-right: 0pt">
        <div class="p-col-4">
          <span class="p-float-label">
          <input [(ngModel)]="criteria"
                 class="ng-dirty p-mr-2"
                 id="Id_Search_Item"
                 minlength="0"
                 pInputText
                 type="text"/>
          <label for="Id_Search_Item">Search criteria</label>
          </span>
        </div>
        <div class="p-col-1">
          <p-button (click)="getDataFromServer(criteria)" label="Find"
                    title="Search items by name and description">

          </p-button>
        </div>
      </div>
    </div>
    <div class="p-col-12 p-shadow-4 top-container-table-area">
      <div class="table-area">
        <p-table [(selection)]="selectedItem"
                 [autoLayout]="true"
                 [metaKeySelection]=keySelection
                 [resizableColumns]="true"
                 [rows]="15"
                 [value]="modelList"
                 editMode="row"
                 paginator="true" selectionMode="multiple" sortMode="multiple" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 40%">Item description</th>
              <th style="width: 10%">Amount</th>
              <th style="width: 10%">Price</th>
              <th style="width: 10%">Vat%</th>
              <th style="width: 10%">Sum netto</th>
              <th style="width: 10%">Sum brutto</th>
              <th style="width: 10%">Delete</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="description" style="width: 30%">Item name
                <p-sortIcon field="invoiceNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="shortDescription" style="width: 30%">Short description
                <p-sortIcon field="supplierFullName"></p-sortIcon>
              </th>
              <th pSortableColumn="itemPrice" style="width: 25%">Item price
                <p-sortIcon field="recipientFullName"></p-sortIcon>
              </th>
              <th pSortableColumn="vat" style="width: 15%">Vat%
                <p-sortIcon field="invoiceDate"></p-sortIcon>
              </th>
              <th style="width: 5%">Manage</th>
            </tr>
          </ng-template>
          <ng-template let-catalogitem let-rowIndex="rowIndex" pTemplate="body">
            <tr (dblclick)="rowDoubleClick($event, catalogitem)" [ngStyle]="{'color':isEditObjectChanged(catalogitem)}"
                [pSelectableRowIndex]="rowIndex"
                [pSelectableRow]="catalogitem"
                title="Double click to edit invoice item">
              <td>
                <div>{{catalogitem.description}}</div>
              </td>
              <td>
                <div>{{catalogitem.shortDescription}}</div>
              </td>
              <td>
                <div class="number-right-align">{{catalogitem.itemPrice | standardFloat}}</div>
              </td>
              <td>
                <div class="number-right-align">{{catalogitem.vat | standardFloat}}</div>
              </td>
              <td>
                <button (click)="rowDoubleClick($event, catalogitem)" class="p-button-rounded p-button-warning"
                        icon="pi pi-pencil" pButton pRipple
                        style="margin-left: 2px;"
                        title="Edit item"></button>
                <button (click)="showDeleteItemDialog(catalogitem.id)" class="p-button-rounded p-button-warning"
                        icon="pi pi-trash" pButton pRipple
                        title="Delete item"></button>
                <button (click)="rollbackChanges(catalogitem.id)" class="p-button-rounded p-button-warning"
                        icon="pi pi-undo" pButton
                        pRipple
                        title="Rollback item"></button>

              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div class="p-col-12 save-button-col-size">
      <div class="save-button-container-size">
        <p-button (onClick)="saveChangesOnServer($event)" [disabled]="haveNoChanges()" label="Save"></p-button>
      </div>
    </div>
  </div>
</div>


<app-edit-item-dialog #itemEditCatalogDialog (editObjectChangedChanged)="putEditDialogChanges($event)"/>


<app-confirmation-dialog #confirmUpdateDialog
                         (canceled)="handleCancelUpdate()"
                         (confirmed)="handleUpdateConfirmation(confirmUpdateDialog.transferObject)"
                         [display]="showConfirmUpdateDialog"
                         [message]="confirmUpdateDialogMessage"></app-confirmation-dialog>

<app-confirmation-dialog #confirmDeleteDialog
                         (canceled)="handleCancelDelete()"
                         (confirmed)="handleDeleteConfirmation(confirmDeleteDialog.transferObject)"
                         [display]="showConfirmDeleteDialog"
                         [message]="confirmDeleteDialogMessage"></app-confirmation-dialog>
