<p-dialog
  (onHide)="onCancel()"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '30vw', height: '30vh' }"
  contentStyleClass="dialog-content-flex"
  styleClass="o-confirm-dialog">

  <ng-template pTemplate="header">
    <h2  class="d-header-text">{{ confirmHeaderText }}</h2>
  </ng-template>

  <div class="dialog-body">
    <h2 class="d-header-text">{{ message }}</h2>
  </div>

  <ng-template pTemplate="footer">
    <div class="p-grid p-justify-end p-ai-center dialog-footer">
      <div class="p-col-12 p-md-3">
        <button (click)="onConfirm()" class="p-button-danger w-100" pButton type="button">
          <span pButtonLabel>Yes</span>
        </button>
      </div>
      <div class="p-col-12 p-md-3">
        <button (click)="onCancel()" class="p-button-secondary w-100" pButton type="button">
          <span pButtonLabel>No</span>
        </button>
      </div>
    </div>
  </ng-template>

</p-dialog>
