<p-dialog
  (onHide)="onCancel()"
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: 'min(32rem, calc(100vw - 2rem))' }"
  contentStyleClass="dialog-content-flex"
  styleClass="o-confirm-dialog">

  <ng-template pTemplate="header">
    <div class="confirm-dialog-header">
      <span class="confirm-dialog-header-icon"><i class="pi pi-exclamation-triangle"></i></span>
      <div>
        <span>{{ 'common.dialog.confirm.eyebrow' | transloco }}</span>
        <h2>{{ confirmHeaderText }}</h2>
      </div>
    </div>
  </ng-template>

  <div class="dialog-body">
    <p>{{ message }}</p>
  </div>

  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button (click)="onCancel()" class="p-button-secondary p-button-outlined" pButton type="button">
        <span pButtonLabel>{{ 'common.dialog.confirm.no' | transloco }}</span>
      </button>
      <button (click)="onConfirm()" class="p-button-danger" pButton type="button">
        <span pButtonLabel>{{ 'common.dialog.confirm.yes' | transloco }}</span>
      </button>
    </div>
  </ng-template>

</p-dialog>
