@if (isAuthenticated()) {
<div class="p-fluid p-flex-row" style="margin-top: 20pt; width: 100%; height: 100%">
  <p-toast></p-toast>
  @if (processRuns) {
  <div class="overlayProcess childElementCenter">
    <mat-progress-spinner *ngIf="processRuns" mode="indeterminate"></mat-progress-spinner>
  </div>
  }
  <div style="height: 15%">
    <app-dateperiod-finder #dataFinder (responseOutput)="setDataModel($event)" [url]="'invoice/invoicesListPeriod'"/>
  </div>
  <div style="margin-top: 20pt; width: 100%; height: 85%">
    <ag-grid-angular
      #agGrid
      (cellValueChanged)="cellChanged($event)"
      (gridReady)="onGridReady($event)"
      (rowValueChanged)="onRowValueChanged($event)"
      [animateRows]="true"
      [gridOptions]="gridOptions"
      [rowData]="invoicesFormModel"
      class="ag-theme-balham"
      pagination="true"
      rowSelection="multiple"
      style="height: 70%;"></ag-grid-angular>
  </div>
</div>
}
