<p-dialog header="Edit person" [(visible)]="visible" [style]="{ width: '80vw', height: '80%' }" (onHide)="setVisible(false)">

  <div *ngIf="appSecurityService.isAuthenticated();"  [formGroup]="editInvoiceFG">

  <div class="p-fluid">

    <H2>Create invoice</H2>
    <div>
      <p-toast></p-toast>
    </div>

    <div class="p-grid">
      <div style="margin-top: 10pt" class="p-col-4">
        <ng-container *ngTemplateOutlet="templatesComponent.inputTextTemplate;
          context:{controlPath: 'invoiceNumber',
                   idComponent: 'id_InvoiceNumber',
                   labelText: 'Invoice Number'
                  }">
        </ng-container>
      </div>
      <div style="margin-top: 10pt" class="p-col-4">
          <ng-container *ngTemplateOutlet="templatesComponent.inputTextTemplate;
          context:{controlPath: 'invoiceDescription',
                   idComponent: 'id-invoiceDescription',
                   labelText: 'Invoice description'
                  }">
        </ng-container>
      </div>

    </div>
    <div class="p-grid">
      <div style="margin-top: 15pt" class="p-col-3">
        <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'rateType',
                   placeholderPar: 'Select rate Type',
                   idComponent: 'id-rateType',
                   labelText: 'Rate Type',
                   optionList: invoiceRate
                  }">
        </ng-container>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">
        <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;
          context:{controlPath: 'invoiceDate',
                   idComponent: 'id-InvoiceDate',
                   labelText: 'Invoice Date',
                   calendarDateFormat: 'dd.mm.yy'
                  }">
        </ng-container>

<!--        <ng-container *ngTemplateOutlet="templatesComponent.standaloneFormCalendarTemplate;-->
<!--          context:{controlName: 'creationDate',-->
<!--                   idComponent: 'id-creationDat',-->
<!--                   labelText: 'Creation Date',-->
<!--                   calendarDateFormat: 'dd.mm.yy'-->
<!--                  }">-->
<!--        </ng-container>-->

      </div>


      <div class="p-col-3">

        <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;
          context:{controlPath: 'creationDate',
                   idComponent: 'id-creationDate',
                   labelText: 'Creation Date',
                   calendarDateFormat: 'dd.mm.yy'
                  }">
        </ng-container>
<!--        <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;-->
<!--          context:{controlPath: 'invoiceDate',-->
<!--                   idComponent: 'id-InvoiceDate',-->
<!--                   labelText: 'Invoice Date',-->
<!--                   calendarDateFormat: 'dd.mm.yy'-->
<!--                  }">-->
<!--        </ng-container>-->
<!--        <ng-container *ngTemplateOutlet="templatesComponentForInvoiceDate.standaloneFormCalendarTemplate;-->
<!--          context:{controlName: 'invoiceDate',-->
<!--                   idComponent: 'id-invoiceDate',-->
<!--                   labelText: 'Invoice Date',-->
<!--                   calendarDateFormat: 'dd.mm.yy'-->
<!--                  }">-->
<!--        </ng-container>-->

      </div>
    </div>

    <div class="p-grid">
      <div style="margin-top: 15pt;" class="p-col-6">
        <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'personSupplierId',
                   placeholderPar: 'Select person',
                   idComponent: 'id-invoiceCreator',
                   labelText: 'Invoice creator person',
                   optionList: personInvoiceSupplier
                  }">
        </ng-container>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-6">
        <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'personRecipientId',
                   placeholderPar: 'Select person',
                   idComponent: 'id-invoiceCreator',
                   labelText: 'Invoice recipient person',
                   optionList: personInvoiceRecipient
                  }">
        </ng-container>
      </div>
    </div>

<!--    <app-invoice-items-table [modelChangedEvent] = "eventsModelIsReset.asObservable()"-->
<!--                             (changeItemEvent)="this.invoiceFormData.invoiceItems=$event"-->
<!--                             (totalNettoSumEvent) = "invoiceFormData.totalSumNetto=$event"-->
<!--                             (totalBruttoSumEvent)="this.invoiceFormData.totalSumBrutto=$event"-->
<!--                             [invoiceItems]="invoiceFormData.invoiceItems">-->

<!--    </app-invoice-items-table>-->


  </div>
</div>
  <ng-template pTemplate="footer">
    <p-button [disabled] = "editInvoiceFG?.invalid" icon="pi pi-check" (click)="sendChanges()" label="Save" styleClass="p-button-text"></p-button>
    <p-button icon="pi pi-check pink-300"  (click)="setVisible(false)" label="Cancel" styleClass="p-button-text p-button-secondary"></p-button>
  </ng-template>
</p-dialog>
<app-templates-component #templatesComponent
                         (calendarValueChanged)="setCalendarValue($event)"
                         [templatesFormGroup]="editInvoiceFG"></app-templates-component>

<app-templates-component #templatesComponentForInvoiceDate
                         (calendarValueChanged)="setCalendarValue($event)"
                         [templatesFormGroup]="editInvoiceFG"></app-templates-component>
