/*
:host::ng-deep div.p-dialog-header {
  background-color: #94b4a7;
  padding: 2pt !important;
}

.header-dialog-container {
  background-color: #94b4a7;
  padding: 2pt !important;
  width: 100%
}
 */
.result-value-input {
  margin-right: 0 !important;
}
:host ::ng-deep .invoice-edit-dialog {
  overflow: hidden;
  border-radius: 20px;
}

:host ::ng-deep .p-fluid > app-reactive-invoice-items-table > div.p-fluid.p-grid {
  margin-top: 5px;
}

:host ::ng-deep .p-fluid > app-reactive-invoice-items-table > div.p-shadow-4.shadow-panel-color {
  border-radius: 5px;
}

.invoice-edit-panel {
  border-radius: 5px;
}


.header-dialog-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.dialog-title {
  margin: 0;
  padding-left: 2vw;
  color: white;
}

/* Push buttons to the right */
.header-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.edit-invoice-field-spacer { margin-top: 25pt; }
