<p-dialog (onHide)="setVisible(false)"
          [(visible)]="visible"
          [contentStyle]="{'overflow': 'auto'}"
          [style]="{ width: '80vw', height: '65vw' }">
  <ng-template pTemplate="header">
    <div class="header-dialog-container">
      <h2 style="padding-left: 2vw; color: white">Edit invoice</h2>
    </div>
  </ng-template>
  <div *ngIf="isAuthenticated();" [formGroup]="editInvoiceFG">
    <div>
      <p-toast></p-toast>
    </div>
    <div class="p-fluid">
      <div class="shadow-panel-color p-shadow-4">
        <div class="p-grid" style="margin-top: 10pt">
          <div class="p-col-4" style="margin-top: 25pt">
            <ng-container *ngTemplateOutlet="templatesComponent.inputTextTemplate;
          context:{controlPath: 'invoiceNumber',
                   idComponent: 'id_InvoiceNumber',
                   labelText: 'Invoice Number'
                  }">
            </ng-container>
          </div>
          <div class="p-col-4" style="margin-top: 25pt">
            <ng-container *ngTemplateOutlet="templatesComponent.inputTextTemplate;
          context:{controlPath: 'invoiceDescription',
                   idComponent: 'id-invoiceDescription',
                   labelText: 'Invoice description'
                  }">
            </ng-container>
          </div>

        </div>
        <div class="p-grid">
          <div class="p-col-3" style="margin-top: 15pt">
            <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'rateType',
                   placeholderPar: 'Select rate Type',
                   idComponent: 'id-rateType',
                   labelText: 'Rate Type',
                   optionList: invoiceRate
                  }">
            </ng-container>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-3">
            <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;
          context:{controlPath: 'invoiceDate',
                   idComponent: 'id-InvoiceDate',
                   labelText: 'Invoice Date',
                   calendarDateFormat: 'dd.mm.yy'
                  }">
            </ng-container>

          </div>
          <div class="p-col-3">

            <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;
          context:{controlPath: 'creationDate',
                   idComponent: 'id-creationDate',
                   labelText: 'Creation Date',
                   calendarDateFormat: 'dd.mm.yy'
                  }">
            </ng-container>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-6" style="margin-top: 15pt;">
            <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'personSupplierId',
                   placeholderPar: 'Select person',
                   idComponent: 'id-invoiceCreator',
                   labelText: 'Invoice creator person',
                   optionList: personInvoiceSupplier
                  }">
            </ng-container>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-6">
            <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'personRecipientId',
                   placeholderPar: 'Select person',
                   idComponent: 'id-invoiceCreator',
                   labelText: 'Invoice recipient person',
                   optionList: personInvoiceRecipient
                  }">
            </ng-container>
          </div>
        </div>
      </div>

      <app-reactive-invoice-items-table
        #reactiveItemsTableComponent
        (changeItemEvent)="invoiceItemsChanged($event)"
        (totalBruttoSumEvent)="totalBruttoSumChanged($event)"
        (totalNettoSumEvent)="totalNettoSumChanged($event)"
        [invoiceReactiveItems]="invoiceReactiveDlgFormData.invoiceItems">

      </app-reactive-invoice-items-table>


    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="putChangesBack()" [disabled]="haveErrors()" icon="pi pi-check" label="Save"
              styleClass="p-button-text"></p-button>
    <p-button (click)="setVisible(false)" icon="pi pi-check pink-300" label="Cancel"
              styleClass="p-button-text p-button-secondary"></p-button>
  </ng-template>
</p-dialog>
<app-templates-component #templatesComponent
                         (calendarValueChanged)="setCalendarValue($event)"
                         [templatesFormGroup]="editInvoiceFG"></app-templates-component>


