/*
:host::ng-deep div.p-dialog-header {
  background-color: #94b4a7;
  padding: 2pt !important;
}

.header-dialog-container {
  background-color: #94b4a7;
  padding: 2pt !important;
  width: 100%
}
 */
.result-value-input {
  margin-right: 0 !important;
}
