<p-dialog (onHide)="setVisible(false)"
          [(visible)]="visible"
          [contentStyle]="dialogContentStyle"
          [style]="dialogStyle"
          styleClass="invoice-edit-dialog">
  <ng-template pTemplate="header">
    <div class="header-dialog-container">
      <h2 class="dialog-title">Edit invoice</h2>
      <div class="header-actions">
        <button
          pButton
          type="button"
          class="p-button-text"
          (click)="toggleFullscreen()"
          title="Toggle fullscreen">
          @if (isFullscreen) {
            <i class="pi pi-window-maximize"></i>
          } @else {
            <i class="pi pi-window-minimize"></i>
          }
        </button>
      </div>
    </div>
  </ng-template>

  <div *ngIf="isAuthenticated();" [formGroup]="editInvoiceFG" style="height: 100%;">
    <div>
      <p-toast></p-toast>
    </div>
    <div class="p-fluid">
      <div class="shadow-panel-color p-shadow-4 invoice-edit-panel">
        <div class="p-grid" style="margin-top: 10pt">
          <div class="p-col-4" style="margin-top: 25pt">
            <ng-container *ngTemplateOutlet="templatesComponent.inputTextTemplate;
          context:{controlPath: 'invoiceNumber',
                   idComponent: 'id_InvoiceNumber',
                   labelText: 'invoice.invoice_number' | transloco
                  }">
            </ng-container>
          </div>
          <div class="p-col-4" style="margin-top: 25pt">
            <ng-container *ngTemplateOutlet="templatesComponent.inputTextTemplate;
          context:{controlPath: 'invoiceDescription',
                   idComponent: 'id-invoiceDescription',
                   labelText: 'invoice.description' | transloco
                  }">
            </ng-container>
          </div>

        </div>
        <div class="p-grid">
          <div class="p-col-3 margin-top-20">
            <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'rateType',
                   placeholderPar: 'Select rate Type',
                   idComponent: 'id-rateType',
                   labelText: 'invoice.rate_type' | transloco,
                   optionList: invoiceRate
                  }">
            </ng-container>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-3 margin-top-20">
            <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;
          context:{controlPath: 'invoiceDate',
                   idComponent: 'id-InvoiceDate',
                   labelText: 'invoice.invoice_date' | transloco,
                   calendarDateFormat: 'dd.mm.yy'
                  }">
            </ng-container>

          </div>
          <div class="p-col-3 margin-top-20">

            <ng-container *ngTemplateOutlet="templatesComponent.calendarTemplate;
          context:{controlPath: 'creationDate',
                   idComponent: 'id-creationDate',
                   labelText: 'invoice.creation_date' | transloco,
                   calendarDateFormat: 'dd.mm.yy'
                  }">
            </ng-container>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-6 margin-top-20">
            <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'personSupplierId',
                   placeholderPar: 'Select person',
                   idComponent: 'id-invoiceCreator',
                   labelText: 'invoice.person_creator' | transloco,
                   optionList: personInvoiceSupplier
                  }">
            </ng-container>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-6 margin-top-20">
            <ng-container *ngTemplateOutlet="templatesComponent.comboboxTemplate;
          context:{controlPath: 'personRecipientId',
                   placeholderPar: 'Select person',
                   idComponent: 'id-invoiceCreator',
                   labelText: 'invoice.person_recipient' | transloco,
                   optionList: personInvoiceRecipient
                  }">
            </ng-container>
          </div>
        </div>
      </div>

      <app-reactive-invoice-items-table
        #reactiveItemsTableComponent
        (changeItemEvent)="invoiceItemsChanged($event)"
        (totalBruttoSumEvent)="totalBruttoSumChanged($event)"
        (totalNettoSumEvent)="totalNettoSumChanged($event)"
        [invoiceReactiveItems]="invoiceReactiveDlgFormData.invoiceItems">

      </app-reactive-invoice-items-table>


    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button (click)="putChangesBack()" [disabled]="haveErrors()" icon="pi pi-check" label="{{'common.actions.save' | transloco}}"
              styleClass="p-button-text"></p-button>
    <p-button (click)="setVisible(false)" icon="pi pi-check pink-300" label="{{'common.actions.cancel' | transloco}}"
              styleClass="p-button-text p-button-secondary"></p-button>
  </ng-template>
</p-dialog>
<app-templates-component #templatesComponent
                         (calendarValueChanged)="setCalendarValue($event)"
                         [templatesFormGroup]="editInvoiceFG"></app-templates-component>


