/*input[type="text"]  {*/
/*  margin: 5px 5px 5px 5px !important;*/

/*  width: 100% !important;*/
/*  height: 21pt;*/
/*}*/
.sizes .p-inputtext {
  display: block;
  margin-bottom: 0.5rem;
}

.sizes .p-inputtext:last-child {
  margin-bottom: 0;
}

.p-field * {
  display: block;
}

:host::ng-deep  form > div > div.p-grid.p-col-12 > div > div > p-button > button{
  width: 100%;
}

.invoice-item-table-cls{
  margin-top: 10pt;
  margin-left: 10pt;
  width: 100%;
}
