<form #invoiceForm="ngForm" *ngIf="isAuthenticated();">
  <div class="p-fluid">

    <H2>Create invoice</H2>
    <div>
      <p-toast></p-toast>
    </div>

    <div class="p-grid">
      <div class="p-col-4" style="margin-top: 10pt">
        <app-validatable-input-text (componentHasErrorEvent)="setHasInvoiceNumberError($event)"
                                    [(ngModel)]="calculatorService.invoiceFormData.invoiceNumber"
                                    [idComponent]="'id_InvoiceNumber'"
                                    [labelText]="'Invoice Number'"
                                    [name]="'invoiceNumber'"
                                    [txtMinLength]="5">
        </app-validatable-input-text>
      </div>
      <div class="p-col-4" style="margin-top: 10pt">
       <span class="p-float-label">
       <input [(ngModel)]="calculatorService.invoiceFormData.invoiceDescription" id="id-invoiceDescription" name="'invoiceDescription'"
              pInputText
              style="width:100%;" type="text"/>
       <label for="id-invoiceDescription">Invoice description</label>
       </span>
      </div>

    </div>
    <div class="p-grid">
      <div class="p-col-3" style="margin-top: 15pt">
        <app-validatable-dropdownlist (componentHasError)="setHasInvoiceratesError($event)"
                                      [(ngModel)]="calculatorService.invoiceFormData.rateType"
                                      [idComponent]="'id-rateType'"
                                      [labelText]="'Rate Type'"
                                      [name]="'invoiceRatesList'"
                                      [optionList]="invoiceRate"
                                      [txtMinLength]="1">
        </app-validatable-dropdownlist>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-3">

        <app-validatable-calendar (componentHasError)="setHasCreationDateError($event)"
                                  [(ngModel)]="calculatorService.invoiceFormData.creationDate"
                                  [dateFormat]="'dd.mm.yy'"
                                  [idComponent]="'id-creationDate'"
                                  [labelText]="'Creation Date'"
                                  [name]="'creationDate'"
                                  calendarDateFormat="dd.mm.yy"
                                  maxlength="10">
        </app-validatable-calendar>
      </div>

      <div class="p-col-3">
        <app-validatable-calendar (componentHasError)="setHasInvoiceDateError($event)"
                                  [(ngModel)]="calculatorService.invoiceFormData.invoiceDate"
                                  [dateFormat]="'dd.mm.yy'"
                                  [idComponent]="'id-InvoiceDate'"
                                  [labelText]="'Invoice Date'"
                                  [name]="'invoiceDate'"
                                  calendarDateFormat="dd.mm.yy"
                                  maxlength="10">
        </app-validatable-calendar>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6" style="margin-top: 15pt;">
        <app-validatable-dropdownlist (componentHasError)="setHasCreatorError($event)"
                                      [(ngModel)]="calculatorService.invoiceFormData.personSupplierId"
                                      [idComponent]="'id-invoiceCreator'"
                                      [labelText]="'Invoice creator person'"
                                      [name]="'creator'"
                                      [optionList]="personInvoiceSupplier"
                                      [placeholder]="'Select person'"
                                      [txtMinLength]="-1">
        </app-validatable-dropdownlist>

      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-6">
        <app-validatable-dropdownlist (componentHasError)="setHasRecipientError($event)"
                                      [(ngModel)]="calculatorService.invoiceFormData.personRecipientId"
                                      [idComponent]="'id-invoiceRecipient'"
                                      [labelText]="'Invoice recipient person'"
                                      [name]="'recipient'"
                                      [optionList]="personInvoiceRecipient"
                                      [placeholder]="'Select person'"
                                      [txtMinLength]="0">
        </app-validatable-dropdownlist>
      </div>
    </div>

    <app-invoice-items-table #itemsTableRef
                             (changeItemsEvent)="setInvoiceItems($event)"
                             [invoiceItems]="calculatorService.invoiceFormData.invoiceItems"
                             [modelChangedEvent]="eventsModelIsReset.asObservable()">

    </app-invoice-items-table>

    <div class="p-grid">
      <div class="p-col-12 save-button-col-size">
        <div class="save-button-container-size">
          <p-button (onClick)="saveInvoice($event)" [disabled]="haveErrors(itemsTableRef.invoiceItems)"
                    [pTooltip]="'Save invoice to the data base'" label="Save"></p-button>
        </div>
      </div>
    </div>
  </div>
</form>




