input[type="text"]  {
  margin: 5px 5px 5px 5px !important;
  width: 100% !important;
  height: 51pt;
}
.sizes .p-inputtext {
  display: block;
  margin-bottom: 0.5rem;
}
span.p-calendar {
  width: 100% !important;
}
.sizes .p-inputtext:last-child {
  margin-bottom: 0;
}
.p-field * {
  display: block;
}
.number-right-align {
  display: grid;
  justify-content: right
}

.saveButton-align {
  margin: 5px 5px 5px 5px;
}


.custom-ptable-height {
  height: 80vh;
}

.management-page-style {
  height: 100%
}

.top-container-table-area {
  height: 100%;
}

.table-area {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.base-top-grid-area {
  height: 72%
}
