<form #finderPeriodForm="ngForm" class="date-filter" (ngSubmit)="loadData()">
  @if (service.processRuns) {
    <div class="date-filter-loading">
      <mat-progress-spinner diameter="32" mode="indeterminate"></mat-progress-spinner>
    </div>
  }

  <div class="date-filter-heading">
    <i class="pi pi-calendar"></i>
    <div>
      <strong>{{ 'common.datePeriod.title' | transloco }}</strong>
      <span>{{ 'common.datePeriod.subtitle' | transloco }}</span>
    </div>
  </div>

  <div class="date-filter-fields">
    <app-validatable-calendar
      (controlModel)="startDateControlModel = $event"
      [(ngModel)]="requestDatePeriod.startDate"
      [idComponent]="'id-StartDate'"
      [labelText]="'common.datePeriod.startDate' | transloco"
      [name]="'startDate'"
      calendarDateFormat="dd.mm.yy">
    </app-validatable-calendar>

    <app-validatable-calendar
      (controlModel)="endDateControlModel = $event"
      [(ngModel)]="requestDatePeriod.endDate"
      [idComponent]="'id-EndDate'"
      [labelText]="'common.datePeriod.endDate' | transloco"
      [name]="'endDate'"
      calendarDateFormat="dd.mm.yy">
    </app-validatable-calendar>

    <p-button
      [disabled]="isSubmitButtonDisabled()"
      [label]="'common.actions.find' | transloco"
      icon="pi pi-search"
      type="submit">
    </p-button>
  </div>
</form>
