<div class="p-shadow-4" style="height: 100%">
  <p-toast></p-toast>
  <form #finderPeriodForm="ngForm" (submit)="loadData()">
    <div *ngIf="service.processRuns" class="overlayProcess childElementCenter">
      <mat-progress-spinner *ngIf="service.processRuns" mode="indeterminate"></mat-progress-spinner>
    </div>
    <h3 style="margin-left: 5pt">Select date period</h3>
    <div class="p-grid">

      <div class="p-col-3 justifyPanel">
        <app-validatable-calendar (controlModel)="startDateControlModel = $event"
                                  [(ngModel)]="requestDatePeriod.startDate"
                                  [idComponent]="'id-StartDate'"
                                  [labelText]="'Start Date'"
                                  [name]="'startDate'"
                                  calendarDateFormat="dd.mm.yy">
        </app-validatable-calendar>
      </div>

      <div class="p-col-3 justifyPanel">
        <app-validatable-calendar (controlModel)="endDateControlModel = $event"
                                  [(ngModel)]="requestDatePeriod.endDate"
                                  [idComponent]="'id-EndDate'"
                                  [labelText]="'End Date'"
                                  [name]="'endDate'"
                                  calendarDateFormat="dd.mm.yy">
        </app-validatable-calendar>
      </div>

      <div class="p-col-1 justifyPanel">
        <p-button [disabled]="isSubmitButtonDisabled()" icon="pi pi-check" label="Find"
                  styleClass="p-button-text submit-button" type="submit"></p-button>
      </div>

    </div>
  </form>
</div>
