<!--
*This component is required and require one the next parameters
*@param the text of the label
*@param txtMinLength the minimal length of text in the input html control
*@param idComponent the id of component
*@param onChange($event) callback method on the parent component which sends changed value in child (this) component
-->
<div class="calendar-wrapper">
  <div class="calendar-row">
    <p-floatlabel class="calendar-field">
      <p-datepicker
        #modelCalendarRef="ngModel"
        [(ngModel)]="controlValue"
        (ngModelChange)="onChange($event)"
        (onBlur)="onTouched()"
        [dateFormat]="calendarDateFormat"
        [inputId]="idComponent"
        [required]="true"
        [ngClass]="{
          'ng-invalid': modelCalendarRef.invalid,
          'ng-dirty': modelCalendarRef.dirty || modelCalendarRef.touched
        }"
        styleClass="w-100">
      </p-datepicker>

      <label [for]="idComponent">{{ labelText }}</label>
    </p-floatlabel>

    @if (modelCalendarRef.invalid && (modelCalendarRef.dirty || modelCalendarRef.touched)) {
      <div class="error-icon-box">
        <p-message severity="error" icon="pi pi-times-circle"></p-message>
      </div>
    }
  </div>

  @if (
    setHasMinLengthError(
      !!modelCalendarRef.errors?.['minlength'],
      modelCalendarRef.errors?.['minlength']
    ) && (modelCalendarRef.dirty || modelCalendarRef.touched)
    ) {
    <div class="error-icon">
      <p-message severity="error" icon="pi pi-times-circle"></p-message>
    </div>
  }

  @if (
    setHasRequiredError(
      !!modelCalendarRef.errors?.['required'],
      modelCalendarRef.errors?.['required']
    ) && (modelCalendarRef.dirty || modelCalendarRef.touched)
    ) {
    <small class="validation-text">Date is required</small>
  }

  @if (modelCalendarRef.errors?.['startDateMoreEndDate']) {
    <small class="validation-text">Start date must be before end date</small>
  }
</div>
