<ng-template #inputTextTemplate let-controlPath="controlPath" let-idComponent="idComponent" let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <p-floatlabel class="w-100">
                    <input [formControl]="getControl(controlPath)" class="ng-dirty p-mr-2"
                           id="{{idComponent}}"
                           minlength="0"
                           pInputText
                           type="text"/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </p-floatlabel>
      </div>
<!--      <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">-->
<!--        <p-message severity = "error"></p-message>-->
<!--      </div>-->
      @if (getControl(controlPath)?.invalid && (getControl(controlPath)?.dirty || getControl(controlPath)?.touched)) {
        <div class="error-icon-box">
          <p-message severity="error" icon="pi pi-times-circle"></p-message>
        </div>
      }
    </div>
  </div>
</ng-template>


<ng-template #inputNumberTemplate let-controlPath="controlPath" let-idComponent="idComponent" let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <p-floatlabel class="w-100">
                    <p-inputNumber [formControl]="getControl(controlPath)" [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="p-cell-editing ng-dirty p-mr-2 p-invalid"
                                   id="{{idComponent}}"
                                   mode="decimal"
                                   [class.ng-invalid]="getControl(controlPath)?.invalid"
                                   [class.ng-dirty]="getControl(controlPath)?.dirty || getControl(controlPath)?.touched"
                                   placeholder='0.00'/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </p-floatlabel>
      </div>
      @if (getControl(controlPath)?.invalid && (getControl(controlPath)?.dirty || getControl(controlPath)?.touched)) {
        <div class="error-icon-box">
          <p-message severity="error" icon="pi pi-times-circle"></p-message>
        </div>
      }
<!--      <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">-->
<!--        <p-message severity="error" icon="pi pi-times-circle"></p-message>-->
<!--      </div>-->
    </div>
  </div>
</ng-template>


<!-- The combobox template for selecting person type. -->
<ng-template #comboboxTemplate let-controlPath="controlPath"
             let-idComponent="idComponent"
             let-labelText="labelText"
             let-optionList="optionList"
             let-placeholderPar="placeholderPar">

  <div class="w-100">
    <div class="field-row">
      <p-floatlabel class="w-100 my-float-wrapper">
        <p-dropdown
          (onChange)="onDropdownValueChanged($event)"
          [formControl]="getControl(controlPath)"
          [options]="optionList"
          optionLabel="label"
          optionValue="value"
          [inputId]="idComponent"
          class="p-dropdown-template-cls w-100"
          [ngClass]="{
          'ng-invalid': getControl(controlPath)?.invalid,
          'ng-dirty': getControl(controlPath)?.dirty || getControl(controlPath)?.touched,
          'p-inputwrapper-filled': getControl(controlPath)?.value !== null && getControl(controlPath)?.value !== undefined
        }" required>
        </p-dropdown>

        <label [for]="idComponent">{{ labelText }}</label>
      </p-floatlabel>
      @if (getControl(controlPath).invalid && (getControl(controlPath).dirty || getControl(controlPath).touched)) {
        <div class="error-icon-box">
          <p-message severity="error" icon="pi pi-times-circle"></p-message>
        </div>
      }
    </div>
  </div>
</ng-template>


<ng-template #calendarTemplate let-calendarDateFormat="calendarDateFormat"
             let-controlPath="controlPath"
             let-idComponent="idComponent"
             let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <p-floatlabel class="p-float-label">
                    <p-date-picker (onSelect)="onCalendarChange($event, controlPath)"
                                [formControl]="getControl(controlPath)"
                                [showIcon]="true"
                                dateFormat="{{calendarDateFormat}}"
                                id="{{idComponent}}"
                                minlength="1"
                                class="p-invalid"
                                [ngClass]="{
                                  'ng-invalid': getControl(controlPath)?.invalid,
                                  'ng-dirty': getControl(controlPath)?.dirty || getControl(controlPath)?.touched
                                }"
                                required>
                    </p-date-picker>
                    <label for="{{idComponent}}">{{labelText}}</label>
               </p-floatlabel>
      </div>
      <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">
        <p-message severity="error" icon="pi pi-times-circle"></p-message>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #standaloneFormCalendarTemplate let-calendarDateFormat="calendarDateFormat"
             let-controlName="controlName"
             let-idComponent="idComponent"
             let-labelText="labelText">
  <form>
    <div style="display: table; width: 100%;">
      <div style="display: table-row; width: 100%;">
        <div style="display: table-cell; width: 100%;">
                 <span class="p-float-label">
                      <p-datepicker  #pCalendarRef="ngModel"
                                  (onSelect)="onCalendarChange($event, controlName)"
                                  [(ngModel)]="dateTemplateModel"
                                  [showIcon]="true"
                                  (ngModelChange)="onChange($event)"
                                  (onBlur)="onTouched()"
                                  dateFormat="{{calendarDateFormat}}"
                                  id="{{idComponent}}"
                                  minlength="1"
                                  class="p-invalid"
                                  name="{{controlName}}" required
                                   [ngClass]="{
                                      'ng-invalid': pCalendarRef?.invalid,
                                      'ng-dirty': pCalendarRef?.dirty || pCalendarRef?.touched
                                  }">
                      </p-datepicker>
                      <label for="{{idComponent}}">{{labelText}}</label>
                 </span>
        </div>
        <div *ngIf="pCalendarRef.control?.invalid" style="display: table-cell; width: 10%;">
          <p-message severity="error" icon="pi pi-times-circle"></p-message>
        </div>
      </div>
    </div>
  </form>
</ng-template>


