<ng-template #inputTextTemplate let-controlPath="controlPath" let-idComponent="idComponent" let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <span class="p-float-label">
                    <input [formControl]="getControl(controlPath)" class="ng-dirty p-mr-2"
                           id="{{idComponent}}"
                           minlength="0"
                           pInputText
                           type="text"/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </span>
      </div>
      <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">
        <p-message severity="error"></p-message>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #inputNumberTemplate let-controlPath="controlPath" let-idComponent="idComponent" let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <span class="p-float-label">
                    <p-inputNumber [formControl]="getControl(controlPath)" [maxFractionDigits]="2"
                                   [minFractionDigits]="2"
                                   class="ng-dirty p-mr-2"
                                   class="p-cell-editing ng-dirty"
                                   id="{{idComponent}}"
                                   mode="decimal"
                                   placeholder='0.00'/>
                  <label for="{{idComponent}}">{{labelText}}</label>
               </span>
      </div>
      <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">
        <p-message severity="error"></p-message>
      </div>
    </div>
  </div>
</ng-template>


<!-- The combobox template for selecting person type. -->
<ng-template #comboboxTemplate let-controlPath="controlPath"
             let-idComponent="idComponent"
             let-labelText="labelText"
             let-optionList="optionList"
             let-placeholderPar="placeholderPar">

  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
        <div style="margin-bottom: 15pt">
                <span class="p-float-label">
                <p-dropdown (onChange)="onDropdownValueChanged($event)"
                            [formControl]="getControl(controlPath)"
                            [options]="optionList"
                            id="{{idComponent}}"
                            minlength="1"
                            placeholder="{{placeholderPar}}"
                            required>
                </p-dropdown>
                <label for="{{idComponent}}">{{labelText}}</label>
                </span>
          <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">
            <p-message severity="error"></p-message>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #calendarTemplate let-calendarDateFormat="calendarDateFormat"
             let-controlPath="controlPath"
             let-idComponent="idComponent"
             let-labelText="labelText">
  <div style="display: table; width: 100%;">
    <div style="display: table-row; width: 100%;">
      <div style="display: table-cell; width: 100%;">
               <span class="p-float-label">
                    <p-calendar (onSelect)="onCalendarChange($event, controlPath)"
                                [formControl]="getControl(controlPath)"
                                [showIcon]="true"
                                dateFormat="{{calendarDateFormat}}"
                                id="{{idComponent}}"
                                minlength="1"
                                required>
                    </p-calendar>
                    <label for="{{idComponent}}">{{labelText}}</label>
               </span>
      </div>
      <div *ngIf="getControl(controlPath)?.invalid" style="display: table-cell; width: 10%;">
        <p-message severity="error"></p-message>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #standaloneFormCalendarTemplate let-calendarDateFormat="calendarDateFormat"
             let-controlName="controlName"
             let-idComponent="idComponent"
             let-labelText="labelText">
  <form>
    <div style="display: table; width: 100%;">
      <div style="display: table-row; width: 100%;">
        <div style="display: table-cell; width: 100%;">
                 <span class="p-float-label">
                      <p-calendar #pCalendarRef="ngModel"
                                  (onSelect)="onCalendarChange($event, controlName)"
                                  [(ngModel)]="dateTemplateModel"
                                  [showIcon]="true"
                                  dateFormat="{{calendarDateFormat}}"
                                  id="{{idComponent}}"
                                  minlength="1"
                                  name="{{controlName}}" required>
                      </p-calendar>
                      <label for="{{idComponent}}">{{labelText}}</label>
                 </span>
        </div>
        <div *ngIf="pCalendarRef.control?.invalid" style="display: table-cell; width: 10%;">
          <p-message severity="error"></p-message>
        </div>
      </div>
    </div>
  </form>
</ng-template>


