<div *ngIf="isAuthenticated();" class="p-grid workflow-page-bg">
    <div class="p-col-12 workflow-header-height">
      <h2>Workflow steps</h2>
    </div>
    <div class="p-col-12 workflow-content-height">
      <div class="card flex flex-wrap gap-6 u-h-100">
        <p-timeline [value]="createInvoiceFlowEvents" align="left" class="w-full md:w-20rem">

          <ng-template let-flowEvent pTemplate="opposite">
            <p-button (onClick)="setWorkflowStep(flowEvent)" class="p-button-link flow-button-unselected timeline-button-style" >
              <div [ngStyle]="flowButtonStyle(flowEvent)" class="flow-button-unselected workflow-panel-padding"
                  >
                {{ flowEvent.statusDesc }}
              </div>
            </p-button>
          </ng-template>
          <ng-template let-flowEvent  pTemplate="marker">
                       <span *ngIf="getTimelineIcon(flowEvent)" class="custom-marker">
                          <i [ngClass]="flowEvent.clsName"></i>
                       </span>
          </ng-template>
          <ng-template let-flowEvent pTemplate="content">
            <div class="timeline-content-cls">
              @if (flowEvent.level === 0) {
                <div [ngStyle]="editStyle(0)" class="p-col-12">
                  <div class="p-grid">
                    <div class="p-col-12">
                      <div class="p-grid">
                        <div class="p-col-4 u-mt-10pt">
                          <app-validatable-input-text (componentHasErrorEvent)="setHasInvoiceNumberError($event)"
                                                      [(ngModel)]="invoice.invoiceNumber"
                                                      [idComponent]="'id_InvoiceNumber'"
                                                      [labelText]="'invoice.number' | transloco"
                                                      [name]="'invoiceNumber'"
                                                      [txtMinLength]="5">
                          </app-validatable-input-text>
                        </div>
                        <div class="p-col-4 u-mt-10pt">
             <span class="p-float-label">
               <input [(ngModel)]="invoice.invoiceDescription" id="id-invoiceDescription" name="'invoiceDescription'"
                      pInputText
                      class="u-w-100"
                      type="text"/>
               <label for="id-invoiceDescription">Invoice description</label>
             </span>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12">
                      <div class="p-grid">
                        <div class="p-col-3 u-mt-15pt">
                          <app-validatable-dropdownlist (componentHasError)="setHasInvoiceratesError($event)"
                                                        [(ngModel)]="invoice.rateType"
                                                        [idComponent]="'id-rateType'"
                                                        [labelText]="'invoice.rate_type' | transloco"
                                                        [name]="'invoiceRatesList'"
                                                        [optionList]="invoiceRate"
                                                        [txtMinLength]="1">
                          </app-validatable-dropdownlist>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
              @if (flowEvent.level === 1) {
                <div *ngIf="currentStatus.level > 0" class="p-col-12">
                  <div [ngStyle]="editStyle(1)" class="p-grid">
                    <div class="p-col-3">
                      <app-validatable-calendar (componentHasError)="setHasCreationDateError($event)"
                                                [(ngModel)]="invoice.creationDate"
                                                [dateFormat]="'dd.mm.yy'"
                                                [idComponent]="'id-creationDate'"
                                                [labelText]="'invoice.creation_date' | transloco"
                                                [name]="'creationDate'"
                                                calendarDateFormat="dd.mm.yy"
                                                maxlength="10">
                      </app-validatable-calendar>
                    </div>

                    <div class="p-col-3">
                      <app-validatable-calendar (componentHasError)="setHasInvoiceDateError($event)"
                                                [(ngModel)]="invoice.invoiceDate"
                                                [dateFormat]="'dd.mm.yy'"
                                                [idComponent]="'id-InvoiceDate'"
                                                [labelText]="'invoice.invoice_date' | transloco"
                                                [name]="'invoiceDate'"
                                                calendarDateFormat="dd.mm.yy"
                                                maxlength="10">
                      </app-validatable-calendar>
                    </div>
                  </div>
                </div>
              }
              @if (flowEvent.level === 2) {
                <div *ngIf="currentStatus.level > 1" class="p-col-12 u-mt-15pt">
                  <div [ngStyle]="editStyle(2)" class="p-grid">
                    <div class="p-col-6">
                      <app-validatable-dropdownlist (componentHasError)="setHasCreatorError($event)"
                                                    (ngModelChange)="onSupplierChanged($event)"

                                                    [idComponent]="'id-invoiceCreator'"
                                                    [labelText]="'invoice.person_creator' | transloco"
                                                    [name]="'creator'"
                                                    [ngModel]="invoice.personSupplierId"
                                                    [optionList]="personInvoiceSupplier"
                                                    [placeholder]="'Select person'"
                                                    [txtMinLength]="-1">
                      </app-validatable-dropdownlist>
                    </div>
                    <div class="p-col-2 workflow-max-half">
                      <p-button (onClick)="createInvoiceCreator()" label="{{'person.form.create_person' | transloco}}"></p-button>
                    </div>
                  </div>
                </div>
              }
              @if (flowEvent.level === 3) {
                <div *ngIf="currentStatus.level > 2" class="p-col-12">
                  <div [ngStyle]="editStyle(3)" class="p-grid">
                    <div class="p-col-6">
                      <app-validatable-dropdownlist (componentHasError)="setHasRecipientError($event)"
                                                    [(ngModel)]="invoice.personRecipientId"
                                                    [idComponent]="'id-invoiceRecipient'"
                                                    [labelText]="'invoice.person_recipient' | transloco"
                                                    [name]="'recipient'"
                                                    [optionList]="personInvoiceRecipient"
                                                    [placeholder]="'Select person'"
                                                    [txtMinLength]="0">
                      </app-validatable-dropdownlist>
                    </div>
                    <div class="p-col-2 workflow-max-half">
                      <p-button (onClick)="createInvoiceRecipient()" label="{{'person.form.create_person' | transloco}}"></p-button>
                    </div>
                  </div>
                </div>
              }
              @if (flowEvent.level === 4) {
                <div *ngIf="currentStatus.level > 3" [ngStyle]="editStyle(4)" class="p-col-12">
                  <app-invoice-items-table #itemsTableRef
                                           (changeItemsEvent)="invoiceItemsChanges($event)"
                                           (changeItemEvent)="itemValueChanged($event)"
                                           (totalBruttoSumEvent)="invoice.totalSumBrutto=$event"
                                           (totalNettoSumEvent)="invoice.totalSumNetto=$event"
                                           [invoiceItems]="workflowInvoiceItems"
                                           [modelChangedEvent]="eventsModelIsReset.asObservable()">

                  </app-invoice-items-table>
                </div>
              }
              @if (flowEvent.level === 5) {
                <div *ngIf="currentStatus.level > 4" [ngStyle]="editStyle(5)" class="p-col-2">
                  <p-button (onClick)="saveInvoice($event)" [disabled]="haveErrors(workflowInvoiceItems)"
                            label="{{'common.action.save' | transloco}}"></p-button>
                </div>
              }
              <div class="p-col-3">
                @if (currentStatus.level === flowEvent.level) {
                  <p-button (onClick)="movePreviousStep(currentStatus)" [disabled]="currentStatus.level < 1"
                            icon="pi pi-fw pi-angle-double-left"
                            title="Previous step"></p-button>
                  <p-button (onClick)="saveAndNext(currentStatus)" [disabled]="currentStatus.level > 4"
                            icon="pi pi-fw pi-angle-double-right"
                            title="Next step"></p-button>
                }
              </div>
            </div>
          </ng-template>

        </p-timeline>
      </div>
    </div>
  </div>
