<div *ngIf="securityService.isAuthenticated" class="p-fluid p-flex-row">
  <H2>Invoice management (Under construction)</H2>
  <div>
    <p-toast></p-toast>
  </div>
  <app-dateperiod-finder  [url]="'invoice/invoicesListPeriod'" (onFinderIsReady) = "finderIsReady($event)" (responseOutput)="invoices = $event" #dataFinder/>
  <div class ="p-grid p-card">
    <div class="p-col-12">
    <p-table  [value]="invoices" [rows]="20" [autoLayout]="true"  [resizableColumns]="true" styleClass="p-datatable-gridlines" editMode="row">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">Invoice number</th>
          <th style="width: 25%">Supplier</th>
          <th style="width: 25%">Recipient</th>
          <th style="width: 10%">Invoice date</th>
          <th style="width: 10%">Invoice creation date</th>
          <th style="width: 10%">Netto sum</th>
          <th style="width: 10%">Brutto sum</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-invoice>
        <tr>
          <td>
            <div>{{invoice.invoiceNumber}}</div>
          </td>
          <td>
            <div>{{invoice.supplierFullName}}</div>
          </td>
          <td>
            <div>{{invoice.recipientFullName}}</div>
          </td>

          <td>
             <div>{{invoice.invoiceDate | dateType: 'MM.YYYY'}}</div>
          </td>
          <td>
            <div>{{invoice.creationDate | dateType: 'YY.MM.YYYY'}}</div>
          </td>
          <td>
            <div>{{invoice.totalSumNetto}}</div>
          </td>
          <td>
            <div>{{invoice.totalSumBrutto}}</div>
          </td>
        </tr>

      </ng-template>
    </p-table>
  </div>
  </div>
</div>

